Repository nspcc-dev/neo-go, pull requests merged in 2020-12, with the labels that each got.

#1583 cli: add tests for `db dump/restore`
  cli/dump_test.go
  cli/testdata/chain50x2.acc
Labels: test

#1587 Extend test suite for interops
  pkg/core/interop/binary/encode.go
  pkg/core/interop/binary/encode_test.go
  pkg/core/interop/crypto/ecdsa_test.go
  pkg/core/interop/crypto/hash_test.go
  pkg/core/interop/enumerator/interop_test.go
  pkg/core/interop/iterator/interop_test.go
  pkg/core/interop/runtime/engine.go
  pkg/core/interop/runtime/engine_test.go
  pkg/core/interop/runtime/util_test.go
  pkg/core/interop_neo.go
  pkg/core/interop_neo_test.go
  pkg/core/interop_system.go
  pkg/core/interop_system_test.go
  pkg/core/interops.go
  pkg/crypto/keys/private_key.go
  pkg/crypto/keys/private_key_test.go
  pkg/vm/vm_test.go
Labels: test

#1590 Add CLI tests for `contract` and `wallet` commands
  cli/contract_test.go
  cli/executor_test.go
  cli/multisig_test.go
  cli/server/server.go
  cli/smartcontract/smart_contract.go
  cli/testdata/deploy/main.go
  cli/testdata/wallets/testwallet_NEO2.json
  cli/testdata/wallets/testwallet_NEO3.json
  cli/wallet/legacy.go
  cli/wallet/legacy_test.go
  cli/wallet/nep17.go
  cli/wallet/wallet.go
  cli/wallet_test.go
  pkg/compiler/codegen.go
  pkg/core/helper_test.go
  pkg/rpc/server/client_test.go
  pkg/rpc/server/server_test.go
  pkg/wallet/account.go
Labels: test

#1591 network: add tests for `Message` serialization
  pkg/network/message.go
  pkg/network/message_test.go
  pkg/network/payload/address_test.go
  pkg/network/payload/inventory_test.go
  pkg/network/payload/merkleblock.go
Labels: bug, test

#1572 Return FP strings for getunclaimedgas
  cli/flags/fixed8.go
  cli/flags/fixed8_test.go
  cli/nep17_test.go
  cli/smartcontract/smart_contract.go
  cli/wallet/nep17.go
  pkg/core/helper_test.go
  pkg/core/state/notification_event.go
  pkg/core/transaction/transaction.go
  pkg/core/transaction/transaction_test.go
  pkg/encoding/fixedn/decimal.go
  pkg/encoding/fixedn/decimal_test.go
  pkg/encoding/fixedn/fixed8.go
  pkg/encoding/fixedn/fixed8_test.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/invoke.go
  pkg/rpc/response/result/invoke_test.go
  pkg/rpc/response/result/unclaimed_gas.go
  pkg/rpc/rpc_config.go
Labels: rpc

#1595 network: add tests for most of the commands
  pkg/network/blockqueue_test.go
  pkg/network/discovery.go
  pkg/network/discovery_test.go
  pkg/network/helper_test.go
  pkg/network/message_test.go
  pkg/network/server.go
  pkg/network/server_test.go
Labels: bug, test

#1599 compiler: save both VM and smartcontract types
  examples/events/events.go
  examples/events/events.yml
  pkg/compiler/codegen.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
Labels: compiler

#1598 Implement `contract.CallEx` in compiler
  examples/timer/timer.go
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/global_test.go
  pkg/compiler/interop_test.go
  pkg/compiler/syscall.go
  pkg/compiler/syscall_test.go
  pkg/compiler/testdata/constonly/const.go
  pkg/interop/contract/contract.go
  pkg/interop/engine/engine.go
Labels: bug, compiler

#1602 vmcli/test: run shell after providing input
  pkg/compiler/compiler_test.go
  pkg/vm/cli/cli_test.go
Labels: bug

#1603 compiler: enforce `Hash160` and `Hash256` size in literals
  pkg/compiler/codegen.go
  pkg/compiler/debug.go
  pkg/compiler/interop_test.go
Labels: compiler

#1604 cli/smartcontract: return error if deploy script failed to run
  cli/contract_test.go
  cli/executor_test.go
  cli/smartcontract/smart_contract.go
  pkg/rpc/response/result/invoke.go
  pkg/rpc/response/result/invoke_test.go
Labels: bug

#1606 go.mod: update testify version
  go.mod
  go.sum
Labels: bug, test

#1607 Set `Safe` flag in emitted manifest
  cli/smartcontract/smart_contract.go
  cli/smartcontract/smart_contract_test.go
  examples/token-sale/token_sale.yml
  examples/token/token.yml
  internal/testchain/transaction.go
  pkg/compiler/compiler.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
  pkg/compiler/interop_test.go
  pkg/smartcontract/manifest/standard/nep17.go
Labels: compiler

#1621 core: fix bug with mempool.verifiedMap
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
Labels: bug

#1623 [master-2.x] core: fix bug with mempool.verifiedMap
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
Labels: bug

#1620 consensus: validate timestamp in `verifyBlock()`
  go.mod
  go.sum
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
Labels: bug

#1625 core: restrict allowed Oracle callbacks
  pkg/core/native/oracle.go
  pkg/core/native_oracle_test.go
Labels: bug

#1524 rpc: add `invokecontractverify` RPC-method
  pkg/core/blockchain.go
  pkg/core/blockchainer/blockchainer.go
  pkg/network/helper_test.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
  pkg/rpc/server/client_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1631 vm: allow to serialize interop items
  pkg/core/blockchain_test.go
  pkg/core/interop_system_test.go
  pkg/core/state/notification_event.go
  pkg/core/state/notification_event_test.go
  pkg/vm/stackitem/serialization.go
  pkg/vm/stackitem/type.go
Labels: bug

#1636 core: preview4 compatibility fixes
  pkg/core/native/management.go
  pkg/core/native/native_neo.go
  pkg/core/native/native_nep17.go
  pkg/core/native/policy.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: bug

#1639 core: fix (*NEO).getCandidates
  pkg/core/native/native_neo.go
Labels: bug
