Repository nspcc-dev/neo-go, pull requests merged in 2020-09, with the labels that each got.

#1383 compiler: fix a bug with type conversion in switch
  pkg/compiler/codegen.go
  pkg/compiler/defer_test.go
  pkg/compiler/for_test.go
  pkg/compiler/func_scope.go
  pkg/compiler/slice_test.go
  pkg/compiler/switch_test.go
Labels: bug, compiler

#1390 core: do not persist Policy contract
  pkg/core/native/contract.go
Labels: bug

#1391 Small compiler improvements
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/global_test.go
  pkg/compiler/map_test.go
Labels: compiler

#1401 Support removing elements from slice.
  docs/compiler.md
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
  pkg/interop/util/util.go
Labels: compiler

#1375 Smartcontract types definition in interops
  examples/token/token.go
  pkg/compiler/codegen.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
  pkg/compiler/syscall.go
  pkg/interop/binary/binary.go
  pkg/interop/blockchain/blockchain.go
  pkg/interop/contract/contract.go
  pkg/interop/crypto/crypto.go
  pkg/interop/doc.go
  pkg/interop/engine/engine.go
  pkg/interop/runtime/engine.go
  pkg/interop/runtime/runtime.go
  pkg/interop/types.go
  pkg/interop/util/util.go
Labels: compiler

#1378 Implement tests for CLI
  cli/candidate_test.go
  cli/executor_test.go
  cli/input/input.go
  cli/main.go
  cli/main_test.go
  cli/multisig_test.go
  cli/nep5_test.go
  cli/options/options.go
  cli/server/server.go
  cli/smartcontract/smart_contract.go
  cli/testdata/testwallet.json
  cli/testdata/verify.go
  cli/testdata/verify.manifest.json
  cli/testdata/verify.nef
  cli/testdata/wallet1_solo.json
  cli/util/convert.go
  cli/wallet/multisig.go
  cli/wallet/nep5.go
  cli/wallet/validator.go
  cli/wallet/wallet.go
  cli/wallet_test.go
  config/protocol.unit_testnet.single.yml
  pkg/consensus/consensus.go
  pkg/core/blockchain.go
  pkg/core/dao/dao.go
  pkg/network/server.go
  pkg/network/tcp_transport.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/wallet/account.go
Labels: test

#1411 consensus: wait goroutine to finish on Shutdown
  pkg/consensus/consensus.go
Labels: test

#1407 Implement OracleResponse transaction attribute
  pkg/core/transaction/attribute.go
  pkg/core/transaction/attribute_test.go
  pkg/core/transaction/attrtype.go
  pkg/core/transaction/attrtype_string.go
  pkg/core/transaction/oracle.go
  pkg/core/transaction/oracle_test.go
  pkg/core/transaction/transaction.go
  pkg/core/transaction/transaction_test.go
Labels: oracle

#1425 Support variables in slice literals.
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/compiler/slice_test.go
  pkg/compiler/struct_test.go
Labels: compiler

#1409 Implement Oracle contract
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/interop/context.go
  pkg/core/interop/contract/call.go
  pkg/core/interop_system.go
  pkg/core/interop_system_test.go
  pkg/core/interops.go
  pkg/core/native/contract.go
  pkg/core/native/interop.go
  pkg/core/native/native_neo.go
  pkg/core/native/oracle.go
  pkg/core/native/oracle_types.go
  pkg/core/native/oracle_types_test.go
  pkg/core/native_contract_test.go
  pkg/core/native_neo_test.go
  pkg/core/native_oracle_test.go
Labels: oracle

#1432 Initialize cache in native contracts properly
  pkg/core/native/native_neo.go
  pkg/core/native/oracle.go
Labels: bug

#1433 vm: add MaxComparableSize and check reference counter after PACK-UNPACK
  docs/compiler.md
  pkg/vm/stackitem/item.go
  pkg/vm/stackitem/item_test.go
  pkg/vm/stackitem/json.go
  pkg/vm/stackitem/json_test.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: vm
