Repository nspcc-dev/neo-go, pull requests merged in 2020-11, with the labels that each got.

#1514 rpc: allow batch JSON-RPC requests
  pkg/rpc/client/rpc_test.go
  pkg/rpc/request/types.go
  pkg/rpc/response/types.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1529 consensus: update NextConsensus only when committee is recalculated
  go.mod
  go.sum
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/consensus/testdata/wallet1.json
  pkg/core/native/native_neo.go
Labels: bug

#1536 network: retransmit stale transactions (master)
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
  pkg/network/server.go
Labels: neo3

#1539 core: fix failing mempool test
  pkg/core/mempool/mem_pool_test.go
Labels: test

#1537 rpc: use base64 for `submitblock` and `sendrawtransaction`
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/invoke.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1542 native: decode storage item in `Seek`
  pkg/core/native/native_neo.go
Labels: bug

#1548 core: remove NodeList from Oracle storage
  pkg/core/native/oracle.go
Labels: oracle

#1550 rpc: adjust NEP5 transfers amount JSON marshalling
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1553 Implement MPT reference counting (master)
  pkg/config/protocol_config.go
  pkg/core/blockchain.go
  pkg/core/dao/dao.go
  pkg/core/mpt/base.go
  pkg/core/mpt/node.go
  pkg/core/mpt/node_test.go
  pkg/core/mpt/proof.go
  pkg/core/mpt/proof_test.go
  pkg/core/mpt/trie.go
  pkg/core/mpt/trie_test.go
Labels: neo3

#1561 core: remove old blocks and transactions
  pkg/config/protocol_config.go
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/dao/dao.go
Labels: neo3

#1564 core: add test for `RemoveUntraceableBlocks` setting
  pkg/core/blockchain_test.go
  pkg/core/helper_test.go
Labels: test

#1566 rpc: marshal fees and GAS as Fixed8 decimal
  pkg/core/state/notification_event.go
  pkg/core/state/notification_event_test.go
  pkg/core/transaction/transaction.go
  pkg/core/transaction/transaction_test.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/response/result/invoke.go
  pkg/rpc/response/result/invoke_test.go
Labels: rpc

#1567 core: add tests for `Blockchain.isTxStillRelevant()`
  pkg/core/blockchain_test.go
Labels: test
