Repository nspcc-dev/neo-go, pull requests merged in 2020-05, with the labels that each got.

#916 compiler: add ability to generate .abi.json file
  cli/smartcontract/smart_contract.go
  pkg/compiler/compiler.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
  pkg/rpc/request/txBuilder.go
  pkg/smartcontract/contract_details.go
Labels: compiler

#922 compiler: add ability to generate .abi.json file
  cli/smartcontract/smart_contract.go
  pkg/compiler/compiler.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
  pkg/rpc/request/txBuilder.go
  pkg/smartcontract/contract_details.go
Labels: compiler, neo3

#921 RPC over websocket (2.x)
  go.mod
  go.sum
  pkg/rpc/client/client.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
Labels: rpc

#925 RPC over websocket
  go.mod
  go.sum
  pkg/rpc/client/client.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
Labels: rpc

#928 Fix RPC submitblock test
  pkg/rpc/server/server_test.go
Labels: rpc, test

#926 Implement NEO3 VM stack opcodes
  pkg/compiler/codegen.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.avm
  pkg/rpc/server/testdata/testblocks.acc
  pkg/vm/context.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/stack.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler, neo3, vm

#932 vm: implement ASSERT/ABORT opcodes
  pkg/core/helper_test.go
  pkg/rpc/client/nep5.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.avm
  pkg/rpc/server/testdata/testblocks.acc
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/opcode/opcode_test.go
  pkg/vm/vm.go
Labels: vm

#931 compiler: allow to use `return` with no arguments
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/compiler/function_call_test.go
  pkg/compiler/return_test.go
Labels: compiler

#936 compiler: allow empty returns
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/compiler/function_call_test.go
  pkg/compiler/return_test.go
Labels: bug, compiler

#935 compiler: support implicit type in function arguments
  pkg/compiler/codegen.go
  pkg/compiler/function_call_test.go
Labels: bug, compiler

#937 compiler: support implicit type in function arguments
  pkg/compiler/codegen.go
  pkg/compiler/function_call_test.go
Labels: bug, compiler

#938 vm: remove APPCALL, TAILCALL
  .docker/wallets/wallet1.json
  .docker/wallets/wallet1_solo.json
  .docker/wallets/wallet2.json
  .docker/wallets/wallet3.json
  .docker/wallets/wallet4.json
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
  pkg/consensus/testdata/wallet1.json
  pkg/consensus/testdata/wallet2.json
  pkg/consensus/testdata/wallet3.json
  pkg/consensus/testdata/wallet4.json
  pkg/core/blockchain.go
  pkg/core/gas_price.go
  pkg/core/interop/context.go
  pkg/core/interop_system.go
  pkg/core/interops.go
  pkg/core/native/interop.go
  pkg/core/native_contract_test.go
  pkg/core/util_test.go
  pkg/crypto/keys/publickey_test.go
  pkg/internal/keytestcases/testcases.go
  pkg/rpc/request/txBuilder.go
  pkg/rpc/request/tx_builder_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.avm
  pkg/rpc/server/testdata/testblocks.acc
  pkg/vm/context.go
  pkg/vm/emit/emit.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
  pkg/wallet/account_test.go
  pkg/wallet/testdata/wallet1.json
  pkg/wallet/testdata/wallet2.json
  pkg/wallet/wallet_test.go
Labels: compiler, feature, neo3, vm

#934 Implement function pointers in the VM
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/vm/context.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/stack_item.go
  pkg/vm/stack_item_test.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler, neo3, vm

#946 examples: Use "or" operator in transfer check of NEP5 token
  examples/token/nep5/nep5.go
Labels: bug

#942 Implement NEO3 VM slots mechanism
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/debug.go
  pkg/compiler/func_scope.go
  pkg/compiler/global_test.go
  pkg/compiler/lambda_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.avm
  pkg/rpc/server/testdata/testblocks.acc
  pkg/vm/context.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/ref_counter.go
  pkg/vm/ref_counter_test.go
  pkg/vm/slot.go
  pkg/vm/slot_test.go
  pkg/vm/stack.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler, feature, neo3, vm

#944 Notifications 2.x
  config/protocol.unit_testnet.yml
  pkg/consensus/consensus.go
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/blockchainer.go
  pkg/core/doc.go
  pkg/core/helper_test.go
  pkg/network/helper_test.go
  pkg/network/server.go
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/response/events.go
  pkg/rpc/response/result/application_log.go
  pkg/rpc/response/types.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/subscription.go
  pkg/rpc/server/subscription_test.go
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
  pkg/wallet/account.go
Labels: rpc

#951 Notification filters 2.x
  pkg/core/block/block.go
  pkg/core/block/block_base.go
  pkg/core/block/block_test.go
  pkg/core/transaction/attribute.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
  pkg/rpc/response/events.go
  pkg/rpc/response/result/block.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/subscription.go
  pkg/rpc/server/subscription_test.go
Labels: rpc

#955 rpc/client: handle client creation error in new wsclient
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
Labels: bug, rpc

#956 Documentation update for 2.x
  .gitignore
  README.md
  docs/compiler.md
  docs/notifications.md
  docs/rpc.md
  docs/runtime.md
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
  pkg/compiler/syscall.go
  pkg/core/interop_neo.go
  pkg/core/interop_system.go
  pkg/core/interops.go
  pkg/interop/account/account.go
  pkg/interop/asset/asset.go
  pkg/interop/attribute/attribute.go
  pkg/interop/block/block.go
  pkg/interop/blockchain/blockchain.go
  pkg/interop/contract/contract.go
  pkg/interop/crypto/crypto.go
  pkg/interop/doc.go
  pkg/interop/engine/engine.go
  pkg/interop/enumerator/enumerator.go
  pkg/interop/header/header.go
  pkg/interop/input/input.go
  pkg/interop/iterator/iterator.go
  pkg/interop/output/output.go
  pkg/interop/runtime/runtime.go
  pkg/interop/storage/storage.go
  pkg/interop/transaction/transaction.go
  pkg/interop/util/util.go
  pkg/interop/witness/witness.go
Labels: compiler, documentation, rpc

#954 compiler: support using OP= with struct fields and slice elements
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
  pkg/compiler/struct_test.go
Labels: compiler, feature

#959 compiler: refactor typeinfo functions
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/debug.go
  pkg/compiler/for_test.go
  pkg/compiler/func_scope.go
  pkg/compiler/global_test.go
  pkg/compiler/slice_test.go
  pkg/compiler/struct_test.go
  pkg/compiler/type_test.go
  pkg/compiler/types.go
Labels: compiler, refactoring

#948 Implement NEO3 Buffer type and string functions
  pkg/compiler/codegen.go
  pkg/compiler/constant_test.go
  pkg/compiler/convert_test.go
  pkg/compiler/slice_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.avm
  pkg/rpc/server/testdata/testblocks.acc
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/serialization.go
  pkg/vm/stack_item.go
  pkg/vm/stack_item_test.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler, feature, neo3, vm

#943 core: add SystemFee and NetworkFee to transaction
  cli/wallet/wallet.go
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/core/blockchain.go
  pkg/core/helper_test.go
  pkg/core/mempool/feer.go
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
  pkg/core/native/native_gas.go
  pkg/core/native/native_neo.go
  pkg/core/native/native_nep5.go
  pkg/core/opcode_price.go
  pkg/core/transaction/transaction.go
  pkg/core/util.go
  pkg/core/util_test.go
  pkg/network/helper_test.go
  pkg/rpc/client/nep5.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/block.go
  pkg/rpc/response/result/tx_raw_output.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
  pkg/smartcontract/context/context.go
  pkg/util/uint160.go
  pkg/vm/contract_checks.go
Labels: neo3

#930 Cache storage operations across same block tx executions
  pkg/core/blockchain.go
  pkg/core/dao/cacheddao.go
  pkg/core/dao/dao.go
  pkg/core/dao/storage_item.go
  pkg/core/interop_neo.go
  pkg/core/interop_system.go
Labels: bug

#962 compiler: support nested struct selectors
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
  pkg/compiler/struct_test.go
Labels: compiler, feature

#967 Fix pickitem and vm cli 2.x
  pkg/vm/cli/cli.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: bug, vm

#969 protocol: switch to binary MessageCommand
  pkg/network/message.go
  pkg/network/message_string.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
Labels: protocol

#970 protocol: move magic exchange to version payload
  pkg/network/message.go
  pkg/network/payload/version.go
  pkg/network/payload/version_test.go
  pkg/network/server.go
  pkg/network/server_test.go
Labels: protocol

#973 vm: update stack size in SETITEM properly
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: bug, vm

#974 vm: allow to convert Map item to bool
  pkg/vm/stack.go
Labels: bug, vm

#975 vm: clone struct item on SETITEM, close #972
  pkg/vm/vm.go
Labels: vm

#976 vm: update stack size in SETITEM properly
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: bug, vm

#979 core: make GetUnspentCoins interop return array, fix #978.
  pkg/compiler/syscall.go
  pkg/core/interop_neo.go
  pkg/interop/transaction/transaction.go
Labels: bug

#963 vm: restore JSON tests for NEO3
  pkg/compiler/binary_expr_test.go
  pkg/compiler/for_test.go
  pkg/compiler/function_call_test.go
  pkg/compiler/if_test.go
  pkg/compiler/import_test.go
  pkg/compiler/struct_test.go
  pkg/vm/json_test.go
  pkg/vm/opcode/from_string.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/opcode/opcode_test.go
  pkg/vm/stack_item.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: test, vm

#983 protocol: refactor getblocks payload
  pkg/network/payload/getblocks.go
  pkg/network/payload/getblocks_test.go
  pkg/network/server.go
Labels: protocol

#982 protocol: implement getblockdata p2p command
  pkg/network/message.go
  pkg/network/message_string.go
  pkg/network/payload/getblockdata.go
  pkg/network/payload/getblockdata_test.go
  pkg/network/server.go
Labels: protocol

#984 core: fix a typo in GetUnspentCoins interop
  pkg/core/interop_neo.go
Labels: bug

#986 Notifications
  config/protocol.unit_testnet.yml
  docs/notifications.md
  docs/rpc.md
  pkg/consensus/consensus.go
  pkg/core/block/block.go
  pkg/core/block/block_base.go
  pkg/core/block/block_test.go
  pkg/core/block/consensus_data.go
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/blockchainer/blockchainer.go
  pkg/core/doc.go
  pkg/core/helper_test.go
  pkg/core/transaction/attribute.go
  pkg/network/helper_test.go
  pkg/network/server.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
  pkg/rpc/response/events.go
  pkg/rpc/response/result/application_log.go
  pkg/rpc/response/result/block.go
  pkg/rpc/response/result/block_header.go
  pkg/rpc/response/types.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/subscription.go
  pkg/rpc/server/subscription_test.go
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
  pkg/wallet/account.go
Labels: rpc

#987 protocol: add payload compression
  pkg/internal/testserdes/testing.go
  pkg/network/compress.go
  pkg/network/message.go
  pkg/network/message_test.go
Labels: protocol

#991 cli: support DB restore from diff
  cli/server/server.go
Labels: feature

#992 vm,dao: return storage iterator from DAO in Storage.Find interop
  pkg/core/blockchain.go
  pkg/core/dao/cacheddao.go
  pkg/core/dao/dao.go
  pkg/core/interop_neo.go
  pkg/core/interop_system.go
  pkg/core/storage_find.go
  pkg/vm/interop.go
  pkg/vm/interop_iterators.go
Labels: bug

#989 Documentation update
  .gitignore
  README.md
  docs/compiler.md
  docs/runtime.md
  pkg/compiler/syscall.go
  pkg/core/interop/context.go
  pkg/core/interop_neo.go
  pkg/core/interop_system.go
  pkg/interop/account/account.go
  pkg/interop/asset/asset.go
  pkg/interop/attribute/attribute.go
  pkg/interop/block/block.go
  pkg/interop/blockchain/blockchain.go
  pkg/interop/contract/contract.go
  pkg/interop/crypto/crypto.go
  pkg/interop/doc.go
  pkg/interop/engine/engine.go
  pkg/interop/enumerator/enumerator.go
  pkg/interop/header/header.go
  pkg/interop/input/input.go
  pkg/interop/iterator/iterator.go
  pkg/interop/output/output.go
  pkg/interop/runtime/runtime.go
  pkg/interop/storage/storage.go
  pkg/interop/transaction/transaction.go
  pkg/interop/util/util.go
  pkg/interop/witness/witness.go
Labels: documentation

#995 config: update testnet and mainnet configurations
  config/protocol.mainnet.yml
  config/protocol.testnet.yml
Labels: protocol

#980 protocol: add node capabilities
  pkg/network/capability/capability.go
  pkg/network/capability/type.go
  pkg/network/discovery.go
  pkg/network/discovery_test.go
  pkg/network/helper_test.go
  pkg/network/payload/address.go
  pkg/network/payload/address_test.go
  pkg/network/payload/version.go
  pkg/network/payload/version_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
  pkg/network/tcp_peer_test.go
  pkg/network/tcp_transport.go
  pkg/network/transport.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/version.go
Labels: protocol

#1001 network: fix panic and Inv types
  pkg/network/capability/capability.go
  pkg/network/message.go
  pkg/network/payload/inventory.go
Labels: bug
