Repository nspcc-dev/neo-go, pull requests merged in 2020-08, with the labels that each got.

#1251 smartcontract: calculate double-SHA256 for .nef files
  pkg/smartcontract/nef/nef.go
Labels: smartContract

#1250 Fix `getnep5*` RPC format
  pkg/core/blockchain.go
  pkg/core/helper_test.go
  pkg/core/state/nep5.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
Labels: rpc

#1255 network: handle length mismatch in decompression routine
  pkg/network/compress.go
Labels: protocol

#1254 core, consensus: add maxBlockSystemFee to native Policy
  pkg/consensus/consensus.go
  pkg/core/blockchain.go
  pkg/core/blockchainer/blockchainer.go
  pkg/core/native/policy.go
  pkg/core/native_policy_test.go
  pkg/network/helper_test.go
Labels: consensus

#1265 core: fix native policy tests
  pkg/core/native_policy_test.go
Labels: bug

#1264 smartcontract: add list of supported standards to manifest
  cli/smartcontract/smart_contract.go
  pkg/compiler/compiler.go
  pkg/compiler/debug.go
  pkg/core/native/native_nep5.go
  pkg/rpc/client/rpc_test.go
  pkg/smartcontract/manifest/manifest.go
  pkg/smartcontract/manifest/manifest_test.go
Labels: smartContract

#1266 rpc: filter subscriptions' notifications by name
  docs/notifications.md
  pkg/rpc/client/wsclient.go
  pkg/rpc/client/wsclient_test.go
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
  pkg/rpc/server/subscription.go
  pkg/rpc/server/subscription_test.go
Labels: rpc

#1269 cli/util: fix lint error introduced by 227c6a2ca
  cli/util/convert.go
Labels: bug

#1261 compiler: allow to use `init` function
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/compiler.go
  pkg/compiler/init_test.go
  pkg/compiler/testdata/pkg1/pkg1.go
  pkg/compiler/testdata/pkg2/pkg2.go
  pkg/compiler/testdata/pkg3/pkg3.go
Labels: compiler

#1246 protocol: request blocks by index
  pkg/core/native/policy.go
  pkg/network/message.go
  pkg/network/message_string.go
  pkg/network/payload/getblockbyindex.go
  pkg/network/payload/getblockbyindex_test.go
  pkg/network/payload/getblockdata.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
Labels: protocol

#1247 Support pointers in compiler
  docs/compiler.md
  pkg/compiler/codegen.go
  pkg/compiler/pointer_test.go
Labels: compiler

#1274 rpc: use lowercase JSON field names for StateHeight
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/mpt.go
Labels: rpc

#1284 rpc: provide timestamps in `getnep5transfers`
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1282 rpc: use hashes for verifying in `invoke*` calls
  cli/smartcontract/smart_contract.go
  pkg/core/blockchain.go
  pkg/core/blockchainer.go
  pkg/core/interop_neo.go
  pkg/network/helper_test.go
  pkg/rpc/client/nep5.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
  pkg/rpc/server/server.go
Labels: rpc

#1288 rpc: adjust `getutxotransfers` RPC
  pkg/core/blockchain.go
  pkg/core/state/transfer_log.go
  pkg/rpc/response/result/utxo.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1289 Port `getnep5transfers` changes to master
  pkg/core/blockchain.go
  pkg/core/blockchainer/blockchainer.go
  pkg/network/helper_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1297 config: add ValidatorsCount to default privnet configuraton
  config/protocol.privnet.yml
Labels: bug

#1293 Check return values count for external contract calls
  pkg/core/interop_system.go
  pkg/core/interop_system_test.go
  pkg/core/native/contract.go
  pkg/smartcontract/param_type.go
  pkg/vm/context.go
  pkg/vm/emit/emit.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: vm

#1295 Add non-main package files in DebugInfo.Documents
  cli/smartcontract/smart_contract.go
  docs/compiler.md
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/compiler.go
  pkg/compiler/compiler_test.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
  pkg/compiler/global_test.go
  pkg/compiler/interop_test.go
  pkg/compiler/testdata/multi/file1.go
  pkg/compiler/testdata/multi/file2.go
  pkg/compiler/vm_test.go
  pkg/core/helper_test.go
  pkg/vm/cli/cli.go
Labels: compiler

#1308 cli: fix `contract inspect` command
  cli/smartcontract/smart_contract.go
Labels: bug

#1317 rpc: marshal `getapplicationlog` stack as []stackitem.Item
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/application_log.go
Labels: rpc

#1323 rpc: fix (*Client).BalanceOf
  pkg/rpc/client/nep5.go
  pkg/rpc/server/client_test.go
Labels: rpc, test

#1318 Add tests for `verifyTx` and `verifyHeader`
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/interop_system_test.go
  pkg/smartcontract/manifest/manifest.go
Labels: test

#1332 core: verification script must return exactly one value
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/internal/testchain/address.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
Labels: bug

#1333 network: decode CMDNotFound
  pkg/network/message.go
Labels: bug, protocol

#1328 rpc/client: provide scripts in AddNetworkFee
  cli/wallet/validator.go
  pkg/rpc/client/client.go
  pkg/rpc/client/nep5.go
  pkg/rpc/client/rpc.go
  pkg/rpc/server/client_test.go
  pkg/vm/context.go
  pkg/vm/debug_test.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
  pkg/wallet/account.go
Labels: rpc, test

#1334 consensus: payloads from recovery messages are network-dependent too
  pkg/consensus/recovery_message.go
Labels: bug, consensus

#1335 Update binary test data
  pkg/consensus/payload_test.go
  pkg/consensus/recovery_message_test.go
  pkg/core/block/block_test.go
  pkg/core/block/helper_test.go
  pkg/core/blockchain_test.go
  pkg/core/test_data/block_1.json
  pkg/core/test_data/block_2.json
  pkg/core/transaction/helper_test.go
  pkg/core/transaction/transaction_test.go
Labels: test

#1338 compiler: allow to alias interop packages
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
Labels: compiler

#1339 core: fix failing TestGetTransaction
  pkg/core/blockchain_test.go
Labels: test

#1340 Emit short jumps where possible
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
  pkg/compiler/jumps_test.go
  pkg/vm/cli/cli.go
  pkg/vm/context.go
Labels: compiler

#1351 Make use of extended JMP* opcodes
  pkg/compiler/assign_test.go
  pkg/compiler/binary_expr_test.go
  pkg/compiler/codegen.go
  pkg/compiler/codegen_test.go
  pkg/compiler/types.go
Labels: compiler

#1355 compiler: drop unused call results
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/compiler/function_call_test.go
  pkg/compiler/switch_test.go
  pkg/compiler/vm_test.go
Labels: compiler

#1352 Fix MEMCPY, support `copy` and `make` in compiler
  docs/compiler.md
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/init_test.go
  pkg/compiler/slice_test.go
  pkg/compiler/types.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler

#1361 compiler: support `iota`
  pkg/compiler/codegen.go
  pkg/compiler/constant_test.go
Labels: bug, compiler

#1358 rpc/client: provide sender in `CreateNEP5MultiTransferTx`
  pkg/rpc/client/nep5.go
  pkg/rpc/server/client_test.go
Labels: bug

#1368 rpc: support 0x form of Uint256 in requests
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
Labels: rpc

#1369 rpc: support 0x form of Uint256 in requests (2.x)
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
Labels: rpc

#1362 Allow to use account with contracts on client
  cli/wallet/wallet.go
  pkg/core/helper_test.go
  pkg/core/interop/runtime/witness.go
  pkg/core/interops.go
  pkg/rpc/client/rpc.go
  pkg/rpc/server/client_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
  pkg/rpc/server/testdata/verification_contract.go
Labels: rpc

#1343 Support `defer` statement
  docs/compiler.md
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/defer_test.go
  pkg/compiler/func_scope.go
  pkg/compiler/global_test.go
  pkg/compiler/if_test.go
  pkg/compiler/lambda_test.go
  pkg/compiler/panic_test.go
  pkg/vm/emit/emit.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler

#1370 Add committee to unit test chain, fix some bugs
  config/protocol.unit_testnet.yml
  pkg/core/blockchain_test.go
  pkg/core/native/native_neo.go
  pkg/core/native_neo_test.go
  pkg/internal/testchain/address.go
Labels: test
