Repository nspcc-dev/neo-go, pull requests merged in 2020-03, with the labels that each got.

#703 core: verify headers in AddHeaders()
  integration/performance_test.go
  pkg/compiler/compiler_test.go
  pkg/compiler/vm_test.go
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/gas_price_test.go
  pkg/core/helper_test.go
  pkg/core/transaction/register_test.go
  pkg/core/util_test.go
  pkg/crypto/hash/merkle_tree_test.go
  pkg/encoding/address/address_test.go
  pkg/network/server_test.go
  pkg/smartcontract/contract_test.go
  pkg/vm/json_test.go
  pkg/vm/vm_test.go
  pkg/wallet/account_test.go
Labels: security

#694 rpc, cli: support gas claim and asset transfer
  cli/wallet/wallet.go
  integration/performance_test.go
  pkg/consensus/consensus.go
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/blockchainer.go
  pkg/core/dao.go
  pkg/core/dao_test.go
  pkg/core/helper_test.go
  pkg/core/spent_coin_state.go
  pkg/core/state/account.go
  pkg/core/transaction/transaction.go
  pkg/network/helper_test.go
  pkg/rpc/client/rpc.go
  pkg/rpc/request/txBuilder.go
  pkg/rpc/response/result/claimable.go
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.go
  pkg/rpc/server/testdata/testblocks.acc
  pkg/smartcontract/param_type.go
  pkg/vm/stack_item.go
  pkg/wallet/account.go
Labels: feature, rpc

#705 Drop duplicating Invoke* types and vm.stackItem
  cli/smartcontract/smart_contract.go
  pkg/rpc/client/rpc.go
  pkg/rpc/response/result/application_log.go
  pkg/rpc/response/result/invoke.go
  pkg/rpc/response/types.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/vm/context.go
  pkg/vm/output.go
  pkg/vm/stack.go
  pkg/vm/stack_item.go
  pkg/vm/stack_item_test.go
  pkg/vm/vm.go
Labels: rpc, vm

#708 core: convert trigger.Type to byte when pushing on stack
  pkg/core/interop_neo_test.go
  pkg/core/interop_system.go
Labels: vm

#715 Update RPC docs, implement client-side getblock and getrawtransaction
  docs/rpc.md
  pkg/rpc/client/doc.go
  pkg/rpc/client/doc_test.go
  pkg/rpc/client/rpc.go
  pkg/rpc/server/doc.go
Labels: rpc

#719 smartcontract: fix bugs in paramter marshal/unmarshal
  pkg/smartcontract/param_context.go
  pkg/smartcontract/param_context_test.go
  pkg/smartcontract/param_type.go
  pkg/smartcontract/param_type_test.go
Labels: smartContract

#718 Fix Invocation TX checks and fee
  pkg/core/blockchain.go
  pkg/core/helper_test.go
  pkg/core/transaction/contract_test.go
  pkg/core/transaction/invocation.go
  pkg/core/transaction/invocation_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
  pkg/util/fixed8.go
  pkg/util/fixed8_test.go
Labels: bug

#706 cli: implement transfer from multisig accounts
  cli/wallet/multisig.go
  cli/wallet/wallet.go
  pkg/core/transaction/output.go
  pkg/core/transaction/transaction.go
  pkg/core/transaction/transaction_test.go
  pkg/core/transaction/witness.go
  pkg/smartcontract/context/context.go
  pkg/smartcontract/context/context_test.go
  pkg/smartcontract/context/item.go
  pkg/smartcontract/context/item_test.go
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
  pkg/vm/contract_checks.go
  pkg/wallet/account.go
Labels: feature

#721 network: add a nil check in (*TCPTransport).Close, prevent panic
  pkg/network/tcp_transport.go
Labels: bug

#722 rpc: implement getblockheader RPC
  docs/rpc.md
  pkg/rpc/response/result/block_header.go
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#723 core,rpc: implement NEP5-related logic
  docs/rpc.md
  pkg/core/blockchain.go
  pkg/core/blockchainer.go
  pkg/core/dao.go
  pkg/core/helper_test.go
  pkg/core/state/account.go
  pkg/core/state/nep5.go
  pkg/core/state/nep5_test.go
  pkg/core/storage/store.go
  pkg/network/helper_test.go
  pkg/rpc/client/doc.go
  pkg/rpc/client/rpc.go
  pkg/rpc/response/result/nep5.go
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/test_contract.avm
  pkg/rpc/server/testdata/test_contract.go
  pkg/rpc/server/testdata/testblocks.acc
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
Labels: feature, rpc

#724 rpc: implement submitblock
  docs/rpc.md
  pkg/core/blockchain.go
  pkg/core/helper_test.go
  pkg/rpc/response/errors.go
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#729 cli: implement AddressFlag
  cli/flags/address.go
  cli/flags/util.go
  cli/wallet/wallet.go
Labels: feature

#727 core: fix wrong endian used in interop functions
  pkg/core/interop_neo.go
  pkg/core/interop_neo_test.go
  pkg/core/interop_system.go
Labels: bug

#734 [rpc/server] fix getblock verbose response
  pkg/rpc/response/result/block.go
Labels: bug, rpc

#732 rpc: implement getvalidators
  docs/rpc.md
  pkg/core/blockchain.go
  pkg/core/blockchainer.go
  pkg/network/helper_test.go
  pkg/rpc/response/result/validator.go
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: feature, rpc

#733 Fix GetReferences interop regression
  pkg/core/interop_neo.go
Labels: bug

#737 cli: do not allow default value for an empty address
  cli/flags/address.go
  cli/wallet/wallet.go
Labels: bug

#738 compiler: implement fallthrough in switch
  pkg/compiler/codegen.go
  pkg/compiler/switch_test.go
Labels: compiler

#739 *: go mod tidy
  go.sum
Labels: go

#731 compiler: clean up stack on branch statements
  pkg/compiler/codegen.go
  pkg/compiler/function_call_test.go
  pkg/compiler/vm_test.go
Labels: compiler

#741 network: fix possible deadlock in DefaultDiscovery
  pkg/network/discovery.go
Labels: bug

#728 cli: implement NEP5-related commands
  cli/wallet/nep5.go
  cli/wallet/wallet.go
  pkg/core/state/nep5_test.go
  pkg/rpc/client/nep5.go
  pkg/util/fixed8.go
  pkg/util/fixed8_test.go
  pkg/wallet/token.go
  pkg/wallet/token_test.go
  pkg/wallet/wallet.go
Labels: feature

#742 vm: add support for dynamic invocations in APPCALL
  pkg/compiler/interop_test.go
  pkg/core/blockchain.go
  pkg/vm/context.go
  pkg/vm/json_test.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: vm

#744 rpc: implement getunclaimed
  docs/rpc.md
  pkg/rpc/response/result/unclaimed.go
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: feature, rpc

#746 vm: implement EQUAL opcode properly
  pkg/vm/context.go
  pkg/vm/stack.go
  pkg/vm/stack_item.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: bug, vm

#750 rpc: implement missing RPC client methods
  pkg/rpc/client/doc.go
  pkg/rpc/client/rpc.go
Labels: feature, rpc

#747 Use wallet in smartcontract deploy/invoke commands and calculate GAS properly
  cli/smartcontract/smart_contract.go
  pkg/core/gas_price.go
  pkg/rpc/client/rpc.go
  pkg/rpc/request/txBuilder.go
  pkg/smartcontract/deployment_price.go
Labels: smartContract, wallet

#748 core: store NEP5 balances separately from account
  pkg/core/blockchain.go
  pkg/core/blockchainer.go
  pkg/core/cacheddao.go
  pkg/core/dao.go
  pkg/core/state/account.go
  pkg/core/state/nep5.go
  pkg/core/state/nep5_test.go
  pkg/core/storage/store.go
  pkg/network/helper_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: feature

#754 rpc: bug with empty stack marshalling in getapplicationlog
  pkg/rpc/response/result/application_log.go
Labels: bug, rpc

#758 rpc: fix invocations of contracts using hash160
  pkg/rpc/request/param.go
Labels: bug, rpc

#759 config: add default ping timeouts config value
  config/config.go
Labels: bug

#751 rpc: marshal Asset hash in LE in getnep5balances RPC
  pkg/rpc/response/result/nep5.go
Labels: bug, rpc

#760 core: fix contract's state migration and don't swallow errors
  pkg/core/interop_neo.go
Labels: bug, smartContract

#756 core/state: do not unmarshal Unclaimed balances in account
  pkg/core/blockchain.go
  pkg/core/state/account.go
  pkg/core/state/unclaimed.go
  pkg/core/state/unclaimed_test.go
  pkg/rpc/response/result/unclaimed.go
  pkg/rpc/server/server.go
Labels: rpc

#757 cli: implement `wallet remove-account`
  cli/wallet/nep5.go
  cli/wallet/wallet.go
  pkg/wallet/wallet.go
  pkg/wallet/wallet_test.go
Labels: feature

#764 rpc/client: add TransferNEP5 method to easily transfer tokens
  cli/wallet/nep5.go
  pkg/rpc/client/nep5.go
Labels: rpc

#765 Fix issue tx verification
  pkg/core/blockchain.go
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
Labels: bug

#755 rpc: support https
  config/config.go
  config/protocol.mainnet.yml
  config/protocol.privnet.yml
  config/protocol.testnet.yml
  pkg/rpc/server/server.go
Labels: rpc, security

#780 vm: allow to push integer-like items to stack
  pkg/vm/stack_item.go
  pkg/vm/stack_test.go
Labels: feature, vm

#787 core/state: marshal AppExecResult.Stack as an array
  pkg/core/blockchain.go
  pkg/core/dao_test.go
  pkg/core/state/notification_event.go
  pkg/core/state/notification_event_test.go
  pkg/rpc/response/result/application_log.go
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
Labels: rpc

#773 vm: use truncated division for Integers
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: bug, vm

#788 vm: make NewBigInteger accept int64
  pkg/vm/cli/cli.go
  pkg/vm/stack_item.go
Labels: vm

#763 rpc: add testing to RPC client package
  pkg/crypto/keys/publickey.go
  pkg/crypto/keys/publickey_test.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/block_header.go
  pkg/rpc/response/result/contract_state.go
  pkg/rpc/response/result/nep5.go
  pkg/rpc/server/server_test.go
Labels: rpc, test

#790 cli: fix type in flags.Fixed8FromContext
  cli/flags/fixed8.go
Labels: bug

#753 rpc: unify RPC handlers and metrics
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
Labels: rpc

#792 smartcontract: do not require pointer in MarshalYAML
  pkg/smartcontract/param_type.go
Labels: bug

#794 rpc: allow to unmarshal integer params from string
  pkg/rpc/request/param.go
Labels: bug, rpc

#791 vm: fix offset for CALLI opcode
  pkg/vm/vm.go
Labels: bug, vm

#799 compiler: allow for loops with empty condition
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
Labels: compiler

#795 examples: expand storage smartcontract with find() usage example
  examples/storage/storage.go
  pkg/compiler/syscall.go
  pkg/interop/iterator/iterator.go
Labels: feature

#802 testutil: implement helpers for encode/decode routines
  pkg/consensus/cache_test.go
  pkg/consensus/commit_test.go
  pkg/consensus/payload_test.go
  pkg/consensus/prepare_request_test.go
  pkg/core/block/block_test.go
  pkg/core/block/header_test.go
  pkg/core/block/helper_test.go
  pkg/core/helper_test.go
  pkg/core/state/account_test.go
  pkg/core/state/asset_test.go
  pkg/core/state/contract_test.go
  pkg/core/state/nep5_test.go
  pkg/core/state/notification_event_test.go
  pkg/core/state/storage_item_test.go
  pkg/core/state/unclaimed_test.go
  pkg/core/state/unspent_coin_test.go
  pkg/core/state/validator_test.go
  pkg/core/transaction/contract_test.go
  pkg/core/transaction/enrollment_test.go
  pkg/core/transaction/helper_test.go
  pkg/core/transaction/invocation_test.go
  pkg/core/transaction/miner_test.go
  pkg/core/transaction/register_test.go
  pkg/core/transaction/state_test.go
  pkg/core/transaction/transaction_test.go
  pkg/crypto/keys/publickey_test.go
  pkg/internal/random/random_util.go
  pkg/internal/testserdes/testing.go
  pkg/network/payload/address_test.go
  pkg/network/payload/getblocks_test.go
  pkg/network/payload/headers_test.go
  pkg/network/payload/inventory_test.go
  pkg/network/payload/ping_test.go
  pkg/network/payload/version_test.go
  pkg/smartcontract/context/context_test.go
  pkg/smartcontract/context/item_test.go
  pkg/smartcontract/parameter_test.go
  pkg/util/fixed8_test.go
  pkg/util/uint160_test.go
  pkg/util/uint256_test.go
Labels: refactoring, test

#803 emit: implement AppCallWithOperationAndArgs
  pkg/core/helper_test.go
  pkg/rpc/client/nep5.go
  pkg/vm/emit/emit.go
  pkg/vm/emit/emit_test.go
Labels: refactoring

#805 rpc: fix stack field name for invocation results
  pkg/rpc/response/result/invoke.go
Labels: bug, rpc

#800 compiler: declare compoud types with var keyword
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
  pkg/compiler/struct_test.go
Labels: bug, compiler

#789 rpc: fix marshalling of type-specific tx data
  pkg/core/transaction/publish.go
  pkg/core/transaction/register.go
  pkg/core/transaction/state_descriptor.go
  pkg/core/transaction/transaction.go
  pkg/core/transaction/transaction_test.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/block.go
  pkg/rpc/response/result/tx_raw_output.go
  pkg/rpc/server/server_test.go
Labels: bug, rpc
