Repository nspcc-dev/neo-go, pull requests merged in 2020-01, with the labels that each got.

#594 network: fix NPE in logging
  pkg/network/tcp_transport.go
Labels: bug

#596 network: allow single-node privnet setup
  .docker/1600-privnet-blocks-single.acc.gz
  .docker/docker-compose.yml
  .docker/privnet-entrypoint.sh
  Dockerfile
  Makefile
  config/protocol.privnet.docker.single.yml
  go.mod
  go.sum
  pkg/network/server.go
  pkg/network/server_config.go
  pkg/smartcontract/contract.go
Labels: consensus, node

#600 consensus: try to use previous proposal after ChangeView
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
Labels: consensus

#602 Fix consensus transaction requests
  pkg/network/server.go
Labels: bug

#605 vm: convert big.Int to []byte properly
  pkg/vm/bigint.go
  pkg/vm/bigint_test.go
  pkg/vm/json_test.go
  pkg/vm/serialization.go
  pkg/vm/stack.go
  pkg/vm/stack_item.go
  pkg/vm/vm_test.go
Labels: bug, vm

#603 consensus: use wallets instead of WIF
  .docker/docker-compose.yml
  .docker/wallets/wallet1.json
  .docker/wallets/wallet1_solo.json
  .docker/wallets/wallet2.json
  .docker/wallets/wallet3.json
  .docker/wallets/wallet4.json
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  go.mod
  go.sum
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/consensus/testdata/wallet1.json
  pkg/consensus/testdata/wallet2.json
  pkg/consensus/testdata/wallet3.json
  pkg/consensus/testdata/wallet4.json
  pkg/wallet/account.go
  pkg/wallet/account_test.go
  pkg/wallet/wallet.go
  pkg/wallet/wallet_test.go
Labels: consensus, wallet

#611 consensus: close chain in tests
  pkg/consensus/consensus_test.go
Labels: bug, test

#610 Ping improvements
  config/protocol.mainnet.yml
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  config/protocol.privnet.yml
  config/protocol.testnet.yml
  config/protocol.unit_testnet.yml
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: node

#615 Network peer updates
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
  pkg/network/tcp_peer_test.go
Labels: node

#617 compiler: implement ECDSA signature verification
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/verify_test.go
  pkg/interop/crypto/crypto.go
Labels: compiler

#618 compiler: support for loops with no init/post condition
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
Labels: compiler

#619 compiler: support variables in slice literals
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
Labels: compiler

#620 compiler: support map literals
  pkg/compiler/codegen.go
  pkg/compiler/map_test.go
Labels: compiler

#621 compiler: implement AppCall interop
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
  pkg/interop/engine/engine.go
Labels: compiler

#622 compiler: allow to convert string constants to []byte
  pkg/compiler/byte_conversion_test.go
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
Labels: compiler

#627 Fix getdata and pings
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: node

#624 compiler: emit integers correctly
  pkg/compiler/emit.go
  pkg/compiler/limit_test.go
  pkg/vm/bigint.go
  pkg/vm/bigint_test.go
  pkg/vm/json_test.go
  pkg/vm/serialization.go
  pkg/vm/stack.go
  pkg/vm/stack_item.go
Labels: compiler, vm

#626 compiler: implement switch statement support
  pkg/compiler/codegen.go
  pkg/compiler/switch_test.go
Labels: compiler

#629 compiler: support panic builtin
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/panic_test.go
Labels: compiler

#632 consensus: use our implementations of Recovery* messages
  pkg/consensus/consensus.go
Labels: bug, consensus

#631 compiler: fix a bug with assignment to underscore
  pkg/compiler/codegen.go
  pkg/compiler/return_test.go
Labels: bug, compiler

#633 rpc: fix getaccountstate/getunspents for unknown addresses
  pkg/rpc/server.go
  pkg/rpc/server_test.go
Labels: bug, rpc

#635 consensus: update dbft version
  go.mod
  go.sum
Labels: consensus
