Repository nspcc-dev/neo-go, pull requests merged in 2020-02, with the labels that each got.

#637 compiler: do not store constants as variables
  pkg/compiler/codegen.go
Labels: compiler, feature

#639 Networking improvements
  pkg/network/discovery.go
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: node

#648 core: fix GAS price definitions
  pkg/core/gas_price.go
Labels: bug

#647 Fix mempool and chain locking
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/core/blockchain.go
  pkg/core/blockchainer.go
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
  pkg/core/mempool/prometheus.go
  pkg/network/blockqueue.go
  pkg/network/blockqueue_test.go
  pkg/network/helper_test.go
  pkg/network/server.go
Labels: node

#642 vm, compiler: move Emit* functions to a separate package
  pkg/compiler/codegen.go
  pkg/compiler/emit.go
  pkg/core/blockchain.go
  pkg/rpc/txBuilder.go
  pkg/smartcontract/contract.go
  pkg/vm/emit.go
  pkg/vm/emit/bigint.go
  pkg/vm/emit/bigint_test.go
  pkg/vm/emit/emit.go
  pkg/vm/emit/emit_test.go
  pkg/vm/emit_test.go
  pkg/vm/json_test.go
  pkg/vm/serialization.go
  pkg/vm/stack.go
  pkg/vm/stack_item.go
  pkg/vm/vm_test.go
Labels: compiler, vm

#548 vm: implement parallel algorithm for CHECKMULTISIG
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: vm

#651 compiler: refactor AppCall
  go.sum
  pkg/compiler/codegen.go
  pkg/compiler/interop_test.go
  pkg/interop/engine/engine.go
Labels: bug, compiler

#652 core: fix FreeGasLimit constraint
  pkg/core/blockchain.go
Labels: bug

#653 network: fix networking stalls caused by stale peers
  pkg/network/tcp_peer.go
Labels: bug, node

#655 core: get transactions from dao when mempool should not be used
  pkg/core/blockchain.go
Labels: bug

#643 compiler: rewrite jump targets properly
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
  pkg/vm/context.go
Labels: bug, compiler

#660 [rpc] Fix wrong answer for getblock method
  pkg/rpc/server_helper_test.go
  pkg/rpc/server_test.go
  pkg/rpc/wrappers/block.go
Labels: bug, rpc

#657 compiler: support initializing struct fields from a variable
  pkg/compiler/codegen.go
  pkg/compiler/struct_test.go
Labels: bug, compiler

#666 Add JSON tags for RPC response types
  pkg/core/transaction/attribute.go
  pkg/core/transaction/output.go
  pkg/core/transaction/witness.go
Labels: bug, rpc

#658 compiler: support for-range loops
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
Labels: compiler, feature

#654 compiler: support sub-slicing
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
  pkg/compiler/slice_test.go
Labels: compiler

#649 cli: add possibility to dump storage changes on restore
  cli/server/dump.go
  cli/server/server.go
  config/config.go
  pkg/core/blockchain.go
  pkg/core/storage/memcached_store.go
  pkg/core/storage/memcached_store_test.go
  scripts/compare-dumps
Labels: feature

#646 rpc: implement gettxout RPC
  docs/rpc.md
  pkg/rpc/prometheus.go
  pkg/rpc/server.go
  pkg/rpc/server_test.go
  pkg/rpc/types.go
  pkg/rpc/wrappers/tx_output.go
Labels: feature, rpc

#675 rpc: implement getcontractstate RPC
  docs/rpc.md
  pkg/core/helper_test.go
  pkg/rpc/errors.go
  pkg/rpc/prometheus.go
  pkg/rpc/server.go
  pkg/rpc/server_helper_test.go
  pkg/rpc/server_test.go
  pkg/rpc/testdata/50testblocks.acc
  pkg/rpc/testdata/test_contract.avm
  pkg/rpc/testdata/testblocks.acc
  pkg/rpc/wrappers/account_state.go
  pkg/rpc/wrappers/contract_state.go
Labels: feature, rpc

#645 rpc: implement getstorage RPC
  docs/rpc.md
  pkg/core/helper_test.go
  pkg/rpc/prometheus.go
  pkg/rpc/server.go
  pkg/rpc/server_test.go
  pkg/rpc/testdata/test_contract.avm
  pkg/rpc/testdata/test_contract.go
  pkg/rpc/testdata/testblocks.acc
Labels: rpc

#679 consensus: provide message type and view inside RecoveryMessage
  pkg/consensus/payload_test.go
  pkg/consensus/recovery_message.go
  pkg/consensus/recovery_message_test.go
Labels: bug, consensus

#685 cli: implement wallet import/export functionality
  cli/wallet/wallet.go
  pkg/smartcontract/param_context.go
  pkg/wallet/account.go
  pkg/wallet/account_test.go
  pkg/wallet/wallet.go
  pkg/wallet/wallet_test.go
Labels: feature, wallet

#678 compiler: support break statement in for loops and switch statements
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
  pkg/compiler/switch_test.go
Labels: compiler, feature

#684 rpc: implement getblocksysfee RPC
  docs/rpc.md
  pkg/rpc/server/prometheus.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: feature, rpc

#693 storage: add locking into (*MemoryStore).Seek
  pkg/core/storage/memcached_store.go
  pkg/core/storage/memory_store.go
Labels: bug

#688 compiler: use uint16 for labels
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/vm/emit/emit.go
Labels: compiler

#698 rpc: rename (*Client).SendToAddress to TransferAsset
  pkg/rpc/client/rpc.go
  pkg/rpc/request/txTypes.go
Labels: rpc

#691 Network conn overflow and shutdown
  pkg/network/discovery.go
  pkg/network/discovery_test.go
  pkg/network/helper_test.go
  pkg/network/server.go
Labels: bug

#700 compiler: do not short-circuit in complex conditions
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
Labels: bug, compiler
