Repository nspcc-dev/neo-go, pull requests merged in 2021-06, with the labels that each got.

#1989 compiler: check event name length in `runtime.Notify`
  cli/testdata/verify.yml
  pkg/compiler/codegen.go
  pkg/compiler/compiler_test.go
  pkg/compiler/inline.go
  pkg/compiler/syscall_test.go
Labels: compiler

#1972 Allow to inline selector statements
  pkg/compiler/codegen.go
  pkg/compiler/inline.go
  pkg/compiler/inline_test.go
  pkg/compiler/testdata/foo/foo.go
  pkg/compiler/vars.go
  pkg/compiler/vm_test.go
Labels: compiler

#1995 compiler: disallow `runtime.Notify` in `Verify` function
  pkg/compiler/codegen.go
  pkg/compiler/compiler.go
  pkg/compiler/compiler_test.go
  pkg/compiler/inline.go
Labels: compiler

#1998 rpc: wrap calculatenetworkfee result in a structure
  pkg/rpc/client/rpc.go
  pkg/rpc/response/result/netfee.go
  pkg/rpc/server/server.go
Labels: bug, rpc

#1993 Add MPT compatibility tests
  pkg/core/mpt/batch_test.go
  pkg/core/mpt/compat_test.go
  pkg/core/mpt/extension.go
  pkg/core/mpt/node.go
  pkg/core/mpt/node_test.go
  pkg/core/mpt/trie.go
  pkg/core/mpt/trie_test.go
Labels: test

#2007 core: do not allow NEP17 roundtrip in case of insufficient funds
  pkg/core/helper_test.go
  pkg/core/native/native_nep17.go
  pkg/core/native_gas_test.go
  pkg/core/native_neo_test.go
Labels: bug

#2003 Update neofs-api-go
  go.mod
  go.sum
  pkg/services/oracle/neofs/neofs.go
  pkg/services/oracle/neofs/neofs_test.go
Labels: oracle, refactoring

#2020 Fix infinite loop in discoverer
  pkg/network/discovery.go
  pkg/network/discovery_test.go
Labels: bug

#2025 Check manifest permissions at compile-time
  cli/smartcontract/smart_contract.go
  pkg/compiler/codegen.go
  pkg/compiler/compiler.go
  pkg/compiler/compiler_test.go
  pkg/compiler/debug.go
  pkg/compiler/inline.go
  pkg/compiler/testdata/runh/hash.go
  pkg/rpc/server/testdata/test_contract.yml
Labels: compiler

#2026 Fix manifest `Extra` field marshaling
  cli/nep11_test.go
  pkg/smartcontract/manifest/manifest.go
  pkg/smartcontract/manifest/manifest_test.go
  pkg/vm/stackitem/serialization.go
Labels: bug

#2030 Fix bugs in manifest permissions
  pkg/smartcontract/manifest/manifest_test.go
  pkg/smartcontract/manifest/permission.go
Labels: bug
