Repository nspcc-dev/neo-go, pull requests merged in 2021-11, with the labels that each got.

#2240 Fix panic on peer disconnect
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: bug

#2259 Fix some tests
  pkg/network/server_test.go
  pkg/rpc/server/server_helper_test.go
Labels: test

#2260 Fix notary test failure
  pkg/core/notary_test.go
Labels: test

#2266 NEP-11 tracking
  CHANGELOG.md
  cli/nep11_test.go
  cli/nep17_test.go
  cli/testdata/verify.go
  cli/wallet/nep11.go
  cli/wallet/nep17.go
  cli/wallet/wallet.go
  docs/cli.md
  docs/node-configuration.md
  docs/rpc.md
  examples/README.md
  examples/nft-nd-nns/nns.go
  examples/nft-nd/nft.go
  internal/fakechain/fakechain.go
  pkg/config/config.go
  pkg/core/blockchain.go
  pkg/core/blockchainer/blockchainer.go
  pkg/core/dao/dao.go
  pkg/core/helper_test.go
  pkg/core/native/management.go
  pkg/core/native/management_test.go
  pkg/core/native_gas_test.go
  pkg/core/state/native_state.go
  pkg/core/state/nep17.go
  pkg/core/state/nep17_test.go
  pkg/core/state/tokens.go
  pkg/core/state/tokens_test.go
  pkg/core/storage/store.go
  pkg/rpc/client/doc.go
  pkg/rpc/client/nep11.go
  pkg/rpc/client/nep17.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/nep17.go
  pkg/rpc/response/result/tokens.go
  pkg/rpc/rpc_config.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/tokens.go
  pkg/smartcontract/manifest/manifest.go
  pkg/wallet/token_test.go
Labels: rpc

#2272 Fix custom sender scopes in CreateTxFromScript
  cli/contract_test.go
  cli/testdata/deploy/main.go
  pkg/rpc/client/rpc.go
  pkg/rpc/server/client_test.go
Labels: bug, rpc

#2280 compiler: allow to slice struct field
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
Labels: bug, compiler

#2279 services: fix Oracle response creation algorithm
  cli/wallet/multisig.go
  pkg/core/oracle_test.go
  pkg/services/oracle/response.go
Labels: bug
