Repository nspcc-dev/neo-go, pull requests merged in 2021-02, with the labels that each got.

#1707 Fix previous proposal handling in consensus
  pkg/consensus/consensus.go
Labels: consensus

#1708 native: fix `getCommittee` name
  pkg/core/native/compatibility_test.go
  pkg/core/native/native_neo.go
Labels: bug

#1718 rpc: add getblockheadercount call
  docs/rpc.md
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1702 Represent native contracts as interop packages
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/convert_test.go
  pkg/compiler/debug.go
  pkg/compiler/debug_test.go
  pkg/compiler/native_test.go
  pkg/compiler/testdata/types/types.go
  pkg/core/native/compatibility_test.go
  pkg/interop/native/gas/gas.go
  pkg/interop/native/ledger/block.go
  pkg/interop/native/ledger/ledger.go
  pkg/interop/native/ledger/transaction.go
  pkg/interop/native/management/contract.go
  pkg/interop/native/management/management.go
  pkg/interop/native/nameservice/name_service.go
  pkg/interop/native/neo/neo.go
  pkg/interop/native/notary/notary.go
  pkg/interop/native/oracle/oracle.go
  pkg/interop/native/policy/policy.go
  pkg/interop/native/roles/roles.go
  pkg/interop/runtime/engine.go
Labels: compiler

#1721 core/tests: fix NameService test
  pkg/core/native_name_service_test.go
Labels: bug, test

#1724 Implement `getnativecontracts` RPC
  internal/fakechain/fakechain.go
  pkg/compiler/interop_test.go
  pkg/core/blockchain.go
  pkg/core/blockchainer/blockchainer.go
  pkg/core/helper_test.go
  pkg/core/interop/context.go
  pkg/core/interop_neo_test.go
  pkg/core/interop_system_test.go
  pkg/core/native/designate.go
  pkg/core/native/interop.go
  pkg/core/native/management.go
  pkg/core/native/management_test.go
  pkg/core/native/name_service.go
  pkg/core/native/native_neo.go
  pkg/core/native/native_nep17.go
  pkg/core/native/nonfungible.go
  pkg/core/native/notary.go
  pkg/core/native/oracle.go
  pkg/core/native/policy.go
  pkg/core/native_contract_test.go
  pkg/core/native_oracle_test.go
  pkg/core/state/contract.go
  pkg/core/state/contract_test.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/server/client_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#1727 Handle terminal escape codes correctly in CLI
  cli/executor_test.go
  cli/input/input.go
  cli/smartcontract/smart_contract.go
  cli/vm/vm.go
  cli/wallet/validator.go
  cli/wallet/wallet.go
  cli/wallet_test.go
  go.mod
  go.sum
Labels: bug

#1726 *: add `submitnotaryrequest` RPC call and associated logic
  cli/wallet/nep17.go
  cli/wallet/wallet.go
  pkg/core/helper_test.go
  pkg/core/native/notary.go
  pkg/core/notary_test.go
  pkg/network/payload/notary_request.go
  pkg/network/payload/notary_request_test.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/rpc/client/nep17.go
  pkg/rpc/client/policy.go
  pkg/rpc/client/rpc.go
  pkg/rpc/client/rpc_test.go
  pkg/rpc/server/client_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
  pkg/services/notary/notary.go
  pkg/wallet/account.go
Labels: rpc

#1736 core: preview-5 states difference fixes
  pkg/compiler/debug_test.go
  pkg/core/native/ledger.go
  pkg/core/native/management.go
  pkg/core/native/native_neo.go
  pkg/core/native/native_nep17.go
  pkg/core/native/nonfungible.go
  pkg/core/native_management_test.go
  pkg/smartcontract/manifest/manifest.go
  pkg/smartcontract/manifest/manifest_test.go
  scripts/compare-dumps.go
Labels: bug

#1746 core: fix native designateAsRole method
  pkg/core/native/designate.go
Labels: bug

#1711 Allow to inline internal wrappers in compiler
  pkg/compiler/analysis.go
  pkg/compiler/codegen.go
  pkg/compiler/func_scope.go
  pkg/compiler/inline.go
  pkg/compiler/inline_test.go
  pkg/compiler/testdata/inline/a/a.go
  pkg/compiler/testdata/inline/b/b.go
  pkg/compiler/testdata/inline/inline.go
  pkg/compiler/types.go
  pkg/compiler/vars.go
Labels: compiler

#1754 mpt: allow to remove non-existent keys in batch
  pkg/core/blockchain_test.go
  pkg/core/interop_system_test.go
  pkg/core/mpt/batch.go
  pkg/core/mpt/batch_test.go
  pkg/core/mpt/trie.go
  pkg/core/mpt/trie_test.go
Labels: bug

#1750 Append bytes bigger than 0x79 properly
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
Labels: bug, compiler

#1774 Allow to use inlined functions during global var init
  pkg/compiler/analysis.go
  pkg/compiler/func_scope.go
  pkg/compiler/inline.go
  pkg/compiler/inline_test.go
  pkg/compiler/syscall_test.go
  pkg/interop/binary/binary.go
Labels: bug, compiler

#1773 rpc: detalize `submit*` RPC validation error
  pkg/rpc/response/errors.go
  pkg/rpc/server/server.go
Labels: rpc
