Repository nspcc-dev/neo-go, pull requests merged in 2021-01, with the labels that each got.

#1654 cli: output nep17 balance using decimals
  cli/nep17_test.go
  cli/wallet/nep17.go
Labels: bug

#1668 core: fix mempool.Add
  pkg/core/mempool/mem_pool.go
  pkg/core/mempool/mem_pool_test.go
Labels: bug

#1670 Add POPITEM opcode
  pkg/compiler/codegen.go
  pkg/core/fee/opcode.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: compiler, vm

#1679 Check for committee witness in native contracts
  internal/testchain/transaction.go
  pkg/core/blockchain_test.go
  pkg/core/helper_test.go
  pkg/core/native/contract.go
  pkg/core/native/management.go
  pkg/core/native/native_neo.go
  pkg/core/native/notary.go
  pkg/core/native/policy.go
  pkg/core/native/util.go
  pkg/core/native_notary_test.go
  pkg/core/native_policy_test.go
Labels: bug

#1667 Introduce extensible payloads
  go.mod
  go.sum
  pkg/consensus/cache_test.go
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/consensus/payload.go
  pkg/consensus/payload_test.go
  pkg/consensus/prepare_request.go
  pkg/consensus/recovery_message.go
  pkg/consensus/recovery_message_test.go
  pkg/network/message.go
  pkg/network/message_string.go
  pkg/network/message_test.go
  pkg/network/payload/extensible.go
  pkg/network/payload/extensible_test.go
  pkg/network/payload/inventory.go
  pkg/network/payload/inventory_test.go
  pkg/network/server.go
  pkg/network/server_test.go
Labels: consensus

#1427 network: implement Oracle module
  cli/executor_test.go
  cli/server/server.go
  config/protocol.mainnet.yml
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  config/protocol.testnet.yml
  go.mod
  go.sum
  pkg/config/application_config.go
  pkg/config/oracle_config.go
  pkg/core/blockchain.go
  pkg/core/blockchain_test.go
  pkg/core/blockchainer/blockchainer.go
  pkg/core/blockchainer/services/oracle.go
  pkg/core/helper_test.go
  pkg/core/native/designate.go
  pkg/core/native/oracle.go
  pkg/core/oracle_test.go
  pkg/network/helper_test.go
  pkg/network/server.go
  pkg/network/server_config.go
  pkg/rpc/client/rpc.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/services/oracle/broadcaster/client.go
  pkg/services/oracle/broadcaster/oracle.go
  pkg/services/oracle/filter.go
  pkg/services/oracle/filter_test.go
  pkg/services/oracle/network.go
  pkg/services/oracle/network_test.go
  pkg/services/oracle/nodes.go
  pkg/services/oracle/oracle.go
  pkg/services/oracle/request.go
  pkg/services/oracle/response.go
  pkg/services/oracle/testdata/oracle1.json
  pkg/services/oracle/testdata/oracle2.json
  pkg/services/oracle/transaction.go
Labels: oracle
