Repository nspcc-dev/neo-go, pull requests merged in 2022-08, with the labels that each got.

#2621 Smartcontract Parameters and Invoker interface
  pkg/rpcclient/client.go
  pkg/rpcclient/helper.go
  pkg/rpcclient/invoker/invoker.go
  pkg/rpcclient/invoker/invoker_test.go
  pkg/rpcclient/native.go
  pkg/rpcclient/nep.go
  pkg/rpcclient/nep11.go
  pkg/rpcclient/policy.go
  pkg/rpcclient/rpc.go
  pkg/services/rpcsrv/client_test.go
  pkg/smartcontract/doc.go
  pkg/smartcontract/entry.go
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
Labels: rpc

#2625 Handle excessive positional arguments in the CLI
  cli/candidate_test.go
  cli/cmdargs/parser.go
  cli/contract_test.go
  cli/dump_test.go
  cli/multisig_test.go
  cli/nep11_test.go
  cli/nep17_test.go
  cli/options/options.go
  cli/query/query.go
  cli/query_test.go
  cli/server/server.go
  cli/server_test.go
  cli/smartcontract/generate.go
  cli/smartcontract/manifest.go
  cli/smartcontract/smart_contract.go
  cli/util/dump.go
  cli/vm/vm.go
  cli/wallet/multisig.go
  cli/wallet/nep11.go
  cli/wallet/nep17.go
  cli/wallet/validator.go
  cli/wallet/wallet.go
Labels: cli

#2633 Fix wallet version
  .docker/wallets/wallet1.json
  .docker/wallets/wallet1_solo.json
  .docker/wallets/wallet2.json
  .docker/wallets/wallet3.json
  .docker/wallets/wallet4.json
  cli/testdata/testwallet.json
  cli/testdata/wallet1_solo.json
  cli/testdata/wallets/testwallet_NEO3.json
  docs/cli.md
  examples/my_wallet.json
  pkg/consensus/testdata/wallet1.json
  pkg/consensus/testdata/wallet2.json
  pkg/consensus/testdata/wallet3.json
  pkg/consensus/testdata/wallet4.json
  pkg/services/notary/testdata/notary1.json
  pkg/services/notary/testdata/notary2.json
  pkg/services/oracle/testdata/oracle1.json
  pkg/services/oracle/testdata/oracle2.json
  pkg/wallet/testdata/wallet1.json
  pkg/wallet/testdata/wallet2.json
  pkg/wallet/wallet.go
Labels: bug

#2638 rpcclient: move result processing code into unwrap package
  pkg/rpcclient/helper.go
  pkg/rpcclient/native.go
  pkg/rpcclient/nep.go
  pkg/rpcclient/nep11.go
  pkg/rpcclient/policy.go
  pkg/rpcclient/rpc.go
  pkg/rpcclient/unwrap/unwrap.go
  pkg/rpcclient/unwrap/unwrap_test.go
Labels: rpc

#2640 core: fix native Management's hasMethod signature
  pkg/core/native/management.go
  pkg/services/rpcsrv/server_test.go
Labels: bug

#2642 NEP-17 RPC client
  cli/query/query.go
  cli/wallet/nep17.go
  cli/wallet/wallet.go
  pkg/rpcclient/nep17.go
  pkg/rpcclient/nep17/nep17.go
  pkg/rpcclient/nep17/nep17_test.go
  pkg/rpcclient/neptoken/base.go
  pkg/rpcclient/neptoken/base_test.go
  pkg/rpcclient/unwrap/unwrap.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#2643 Policy/GAS/Designation contracts RPC wrappers
  cli/wallet/nep17.go
  pkg/core/interop/context.go
  pkg/core/state/contract.go
  pkg/rpcclient/gas/gas.go
  pkg/rpcclient/gas/gas_test.go
  pkg/rpcclient/native.go
  pkg/rpcclient/policy.go
  pkg/rpcclient/policy/policy.go
  pkg/rpcclient/policy/policy_test.go
  pkg/rpcclient/rolemgmt/roles.go
  pkg/rpcclient/rolemgmt/roles_test.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#2645 compiler: avoid panic on empty package list
  pkg/compiler/codegen.go
Labels: compiler

#2646 More native contract RPC wrappers
  cli/smartcontract/smart_contract.go
  pkg/core/state/contract.go
  pkg/core/state/contract_test.go
  pkg/rpcclient/management/management.go
  pkg/rpcclient/management/management_test.go
  pkg/rpcclient/native.go
  pkg/rpcclient/oracle/oracle.go
  pkg/rpcclient/oracle/oracle_test.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#2649 compiler: fix nil method receiver handling
  pkg/compiler/codegen.go
  pkg/compiler/function_call_test.go
Labels: compiler

#2644 compiler: allow multi-return variables declaration
  pkg/compiler/codegen.go
  pkg/compiler/vardecl_test.go
Labels: compiler

#2650 NEO RPC wrapper
  cli/query/query.go
  cli/wallet/nep17.go
  cli/wallet/validator.go
  cli/wallet/wallet.go
  pkg/rpcclient/actor/actor_test.go
  pkg/rpcclient/invoker/invoker.go
  pkg/rpcclient/invoker/invoker_test.go
  pkg/rpcclient/native.go
  pkg/rpcclient/neo/neo.go
  pkg/rpcclient/neo/neo_test.go
  pkg/rpcclient/rolemgmt/roles.go
  pkg/rpcclient/unwrap/unwrap.go
  pkg/rpcclient/unwrap/unwrap_test.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#2651 NEP-11 RPC wrapper
  cli/wallet/nep11.go
  pkg/rpcclient/nep11.go
  pkg/rpcclient/nep11/base.go
  pkg/rpcclient/nep11/base_test.go
  pkg/rpcclient/nep11/divisible.go
  pkg/rpcclient/nep11/divisible_test.go
  pkg/rpcclient/nep11/nondivisible.go
  pkg/rpcclient/nep11/nondivisible_test.go
  pkg/rpcclient/rpc.go
  pkg/rpcclient/unwrap/unwrap.go
  pkg/rpcclient/unwrap/unwrap_test.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#2659 vm: optimize refcount
  pkg/vm/fuzz_test.go
  pkg/vm/ref_counter.go
  pkg/vm/ref_counter_test.go
Labels: vm, fuzz

#2660 cli/server: handle SIGTERM gracefully
  cli/server/server.go
Labels: cli

#2666 rpcclient: add enough of NNS into nns to deprecate NNS methods
  pkg/rpcclient/native.go
  pkg/rpcclient/nns/contract.go
  pkg/rpcclient/nns/contract_test.go
  pkg/rpcclient/nns/record.go
  pkg/rpcclient/nns/record_test.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#2667 Drop NEPXXTokenInfo from the RPC client
  cli/nep11_test.go
  cli/nep17_test.go
  cli/wallet/nep11.go
  cli/wallet/nep17.go
  docs/cli.md
  pkg/rpcclient/nep11.go
  pkg/rpcclient/nep11/base.go
  pkg/rpcclient/nep17.go
  pkg/rpcclient/nep17/nep17.go
  pkg/rpcclient/neptoken/base.go
  pkg/rpcclient/neptoken/base_test.go
  pkg/rpcclient/neptoken/info.go
  pkg/rpcclient/neptoken/info_test.go
  pkg/services/rpcsrv/client_test.go
Labels: rpc
