Repository nspcc-dev/neo-go, pull requests merged in 2022-11, with the labels that each got.

#2776 config: move NeoFS mainnet Aspidochelone fork again
  config/protocol.mainnet.neofs.yml
Labels: config

#2778 State-changing methods in RPC wrappers
  cli/smartcontract/generate_test.go
  cli/smartcontract/testdata/gas/gas.go
  cli/smartcontract/testdata/gas/gas.manifest.json
  cli/smartcontract/testdata/nameservice/nns.go
  cli/smartcontract/testdata/nex/nex.go
  cli/smartcontract/testdata/verifyrpc/verify.go
  cli/smartcontract/testdata/verifyrpc/verify.manifest.json
  docs/compiler.md
  pkg/rpcclient/nep11/divisible.go
  pkg/smartcontract/rpcbinding/binding.go
Labels: rpc

#2782 rpcsrv: allow any Origin in WS connections if EnableCORSWorkaround
  docs/node-configuration.md
  pkg/services/rpcsrv/server.go
Labels: rpc

#2784 rpcsrv: provide Prometheus histograms for calls
  pkg/services/rpcsrv/prometheus.go
  pkg/services/rpcsrv/server.go
Labels: rpc

#2783 Initial iterator support for RPC bindings
  cli/smartcontract/contract_test.go
  cli/smartcontract/generate_test.go
  cli/smartcontract/testdata/nameservice/nns.go
  cli/smartcontract/testdata/nonepiter/iter.go
  cli/smartcontract/testdata/nonepiter/iter.manifest.json
  docs/compiler.md
  pkg/smartcontract/binding/generate.go
  pkg/smartcontract/rpcbinding/binding.go
Labels: smartContract, rpc

#2785 ROADMAP: add deprecated code removal schedule
  ROADMAP.md
Labels: documentation

#2788 network: pre-filter transactions going into dbft
  pkg/network/server.go
  pkg/network/server_test.go
Labels: network, consensus

#2791 cli: properly close storage on `db reset`
  cli/server/server.go
  cli/server/server_test.go
Labels: bug, cli

#2792 RPC wrapper for simple arrays
  cli/smartcontract/generate_test.go
  cli/smartcontract/testdata/types/config.yml
  cli/smartcontract/testdata/types/rpcbindings.out
  cli/smartcontract/testdata/types/types.go
  docs/compiler.md
  pkg/rpcclient/unwrap/unwrap.go
  pkg/rpcclient/unwrap/unwrap_test.go
  pkg/smartcontract/rpcbinding/binding.go
Labels: compiler, rpc

#2802 Fix node startup with broken contract
  cli/server/server.go
  pkg/core/blockchain_neotest_test.go
  pkg/core/native/management.go
  pkg/core/native/management_test.go
Labels: bug

#2804 rpc: fix subscribers locking logic and properly drain poll-based waiter receiver
  internal/basicchain/basic.go
  pkg/core/statesync/neotest_test.go
  pkg/neotest/basic.go
  pkg/rpcclient/actor/waiter.go
  pkg/rpcclient/actor/waiter_test.go
  pkg/rpcclient/wsclient.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
  pkg/services/rpcsrv/subscription_test.go
  pkg/services/rpcsrv/testdata/testblocks.acc
Labels: bug, rpc

#2810 cli: split TestLoad into multiple parts
  cli/vm/cli_test.go
Labels: test

#2811 Network connections fix
  pkg/network/discovery.go
  pkg/network/discovery_test.go
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
  pkg/network/tcp_peer_test.go
  pkg/network/tcp_transport.go
  pkg/network/transport.go
Labels: network

#2809 rpcsrv: do not block blockchain events receiver by subscription requests
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server.go
Labels: bug, rpc

#2812 Improve vm istack/estack handling
  pkg/compiler/assign_test.go
  pkg/compiler/binary_expr_test.go
  pkg/compiler/convert_test.go
  pkg/compiler/for_test.go
  pkg/compiler/vm_test.go
  pkg/core/interop/contract/call.go
  pkg/core/interop/runtime/engine.go
  pkg/core/native/oracle.go
  pkg/vm/context.go
  pkg/vm/invocation_tree_test.go
  pkg/vm/json_test.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: vm

#2816 Fix pointer serialization
  cli/vm/cli.go
  cli/vm/cli_test.go
  pkg/vm/stackitem/serialization.go
  pkg/vm/stackitem/serialization_test.go
Labels: vm

#2813 core: fix broken state reset
  pkg/core/blockchain.go
  pkg/core/dao/dao.go
Labels: bug

#2817 Some actor/waiter interaction fixes
  pkg/rpcclient/actor/waiter.go
  pkg/rpcclient/actor/waiter_test.go
  pkg/rpcclient/notary/actor.go
  pkg/rpcclient/rpc.go
  pkg/services/rpcsrv/client_test.go
Labels: bug, rpc

#2821 Improve wsclient handshake error
  docs/node-configuration.md
  pkg/config/rpc_config.go
  pkg/rpcclient/wsclient.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_helper_test.go
  pkg/services/rpcsrv/subscription_test.go
Labels: rpc, config

#2823 config: the network is past 2.7M non-upgraded
  config/protocol.mainnet.neofs.yml
Labels: config

#2824 core, vm: improve script invocation errors
  cli/vm/cli_test.go
  pkg/core/interop/storage/basic.go
  pkg/vm/vm.go
Labels: cli

#2826 core: filter out txes with system fee > MaxBlockSystemFee
  pkg/core/blockchain.go
  pkg/core/blockchain_neotest_test.go
Labels: bug
