Repository nspcc-dev/neo-go, pull requests merged in 2022-12, with the labels that each got.

#2786 Simplify result.Version
  go.mod
  go.sum
  pkg/neorpc/result/version.go
  pkg/neorpc/result/version_test.go
  pkg/rpcclient/client.go
  pkg/rpcclient/rpc_test.go
  pkg/services/rpcsrv/server.go
Labels: rpc

#2770 vm: add PUSHT and PUSHF opcodes
  cli/nep_test/nep17_test.go
  cli/testdata/wallet1_solo.json
  cli/vm/cli_test.go
  pkg/core/fee/opcode.go
  pkg/services/rpcsrv/params/txBuilder.go
  pkg/services/rpcsrv/params/tx_builder_test.go
  pkg/services/rpcsrv/server_test.go
  pkg/smartcontract/param_type_test.go
  pkg/vm/emit/emit.go
  pkg/vm/emit/emit_test.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/vm.go
Labels: vm

#2829 TimePerBlock config
  ROADMAP.md
  config/protocol.mainnet.neofs.yml
  config/protocol.mainnet.yml
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  config/protocol.privnet.yml
  config/protocol.testnet.neofs.yml
  config/protocol.testnet.yml
  config/protocol.unit_testnet.single.yml
  config/protocol.unit_testnet.yml
  docs/node-configuration.md
  pkg/config/protocol_config.go
  pkg/config/protocol_config_test.go
  pkg/consensus/consensus_test.go
  pkg/core/blockchain.go
  pkg/neotest/chain/chain.go
  pkg/network/server_config.go
  pkg/network/tcp_peer.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
  pkg/services/stateroot/service.go
Labels: config

#2830 config: move Aspidochelone fork height for NeoFS mainnet again
  config/protocol.mainnet.neofs.yml
Labels: config

#2831 LogLevel config
  cli/options/options.go
  cli/server/server.go
  cli/server/server_test.go
  cli/vm/cli.go
  docs/cli.md
  docs/node-configuration.md
  go.mod
  go.sum
  pkg/config/application_config.go
Labels: config

#2827 network: support multiple bind addresses
  ROADMAP.md
  cli/nep_test/nep11_test.go
  cli/nep_test/nep17_test.go
  cli/options/cli_options_test.go
  cli/query/query_test.go
  cli/server/server.go
  cli/server/server_test.go
  cli/smartcontract/contract_test.go
  cli/wallet/candidate_test.go
  cli/wallet/multisig_test.go
  cli/wallet/wallet_test.go
  config/protocol.mainnet.neofs.yml
  config/protocol.mainnet.yml
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  config/protocol.privnet.yml
  config/protocol.testnet.neofs.yml
  config/protocol.testnet.yml
  config/protocol.unit_testnet.single.yml
  config/protocol.unit_testnet.yml
  docs/node-configuration.md
  internal/testcli/executor.go
  internal/testserdes/testing.go
  pkg/config/application_config.go
  pkg/config/application_config_test.go
  pkg/config/basic_service.go
  pkg/config/basic_service_test.go
  pkg/config/config.go
  pkg/config/p2p.go
  pkg/config/rpc_config.go
  pkg/config/rpc_config_test.go
  pkg/network/discovery_test.go
  pkg/network/helper_test.go
  pkg/network/server.go
  pkg/network/server_config.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
  pkg/network/tcp_peer_test.go
  pkg/network/tcp_transport.go
  pkg/network/transport.go
  pkg/services/metrics/metrics.go
  pkg/services/metrics/pprof.go
  pkg/services/metrics/prometheus.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_helper_test.go
  pkg/services/rpcsrv/server_test.go
Labels: network, rpc

#2834 Minor documentation fixes
  README.md
  cli/wallet/wallet.go
Labels: documentation

#2832 Consensus config section
  ROADMAP.md
  cli/server/server.go
  config/protocol.mainnet.neofs.yml
  config/protocol.mainnet.yml
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  config/protocol.privnet.yml
  config/protocol.testnet.neofs.yml
  config/protocol.testnet.yml
  config/protocol.unit_testnet.single.yml
  docs/consensus.md
  docs/node-configuration.md
  internal/testcli/executor.go
  pkg/config/application_config.go
  pkg/config/config.go
  pkg/config/consensus.go
  pkg/config/internal_service.go
  pkg/config/notary_config.go
  pkg/config/state_root.go
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
Labels: consensus, config

#2837 native: make management compatible with C# node 3.5.0
  pkg/core/blockchain.go
  pkg/core/native/management.go
  pkg/core/native/native_test/management_test.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server_test.go
Labels: bug

#2838 *: fix Neo and NeoGo misuses
  cli/server/server.go
  cli/vm/cli.go
  cli/wallet/legacy.go
  cli/wallet/wallet.go
  docs/compiler.md
  docs/node-configuration.md
  docs/rpc.md
  examples/README.md
  examples/token/nep17/nep17.go
  pkg/compiler/compiler.go
  pkg/config/netmode/netmode.go
  pkg/consensus/consensus.go
  pkg/core/interop/runtime/engine.go
  pkg/core/state/contract.go
  pkg/core/transaction/transaction.go
  pkg/crypto/keys/private_key.go
  pkg/io/size.go
  pkg/network/server_config.go
  pkg/services/rpcsrv/server.go
  pkg/vm/opcode/opcode.go
  pkg/vm/vm.go
Labels: documentation

#2833 Move some settings from Protocol to Application config
  ROADMAP.md
  cli/server/server.go
  cli/vm/cli.go
  cli/vm/cli_test.go
  config/protocol.mainnet.neofs.yml
  config/protocol.mainnet.yml
  config/protocol.privnet.docker.four.yml
  config/protocol.privnet.docker.one.yml
  config/protocol.privnet.docker.single.yml
  config/protocol.privnet.docker.three.yml
  config/protocol.privnet.docker.two.yml
  config/protocol.privnet.yml
  config/protocol.testnet.neofs.yml
  config/protocol.testnet.yml
  config/protocol.unit_testnet.single.yml
  config/protocol.unit_testnet.yml
  docs/node-configuration.md
  internal/contracts/contracts_test.go
  internal/fakechain/fakechain.go
  internal/testcli/executor.go
  pkg/config/application_config.go
  pkg/config/config.go
  pkg/config/ledger_config.go
  pkg/config/protocol_config.go
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/core/basic_chain_test.go
  pkg/core/blockchain.go
  pkg/core/blockchain_core_test.go
  pkg/core/blockchain_neotest_test.go
  pkg/core/chaindump/dump.go
  pkg/core/chaindump/dump_test.go
  pkg/core/helper_test.go
  pkg/core/interop/context.go
  pkg/core/interop/contract/account_test.go
  pkg/core/native/invocation_test.go
  pkg/core/native/management_neotest_test.go
  pkg/core/native/native_test/gas_test.go
  pkg/core/native/native_test/ledger_test.go
  pkg/core/native/native_test/notary_test.go
  pkg/core/stateroot/module.go
  pkg/core/statesync/module.go
  pkg/core/statesync/neotest_test.go
  pkg/neotest/chain/chain.go
  pkg/network/helper_test.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/services/notary/core_test.go
  pkg/services/oracle/oracle.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_helper_test.go
  pkg/services/stateroot/service.go
  pkg/services/stateroot/service_test.go
  scripts/gendump/main.go
Labels: config

#2839 config: use string type for Port
  pkg/config/basic_service.go
  pkg/config/basic_service_test.go
  pkg/config/config.go
  pkg/config/rpc_config_test.go
Labels: bug, config

#2841 rpcsrv: use more robust NEP-11 divisibility check
  pkg/services/rpcsrv/server.go
Labels: rpc

#2851 *: add fuzz tests for `bigint.FromBytes` and `vm.ParseMultisigContract`
  pkg/encoding/bigint/fuzz_test.go
  pkg/vm/fuzz_test.go
Labels: test

#2846 network: do not allow to request invalid block count
  pkg/network/blockqueue.go
  pkg/network/blockqueue_test.go
  pkg/network/payload/getblockbyindex.go
  pkg/network/server.go
Labels: bug
