Repository nspcc-dev/neo-go, pull requests merged in 2022-09, with the labels that each got.

#2668 CLI signing improvements
  cli/multisig_test.go
  cli/paramcontext/context.go
  cli/smartcontract/smart_contract.go
  cli/util/convert.go
  cli/util/send.go
  cli/wallet/multisig.go
  cli/wallet/nep17.go
  cli/wallet/validator.go
  cli/wallet/wallet.go
  cli/wallet_test.go
  docs/cli.md
  pkg/smartcontract/context/context.go
  pkg/smartcontract/context/context_test.go
Labels: cli

#2683 Historic calls from CLI
  cli/contract_test.go
  cli/nep11_test.go
  cli/options/options.go
  cli/smartcontract/smart_contract.go
  cli/wallet/nep11.go
Labels: cli

#2689 stateroot: fix panic on shutdown
  pkg/services/stateroot/validators.go
Labels: bug

#2708 interop: adjust Iterator documentation
  pkg/interop/iterator/iterator.go
Labels: smartContract, documentation
