Repository nspcc-dev/neo-go, pull requests merged in 2022-10, with the labels that each got.

#2722 docs: add MaxValidUntilBlockIncrement to config docs
  docs/node-configuration.md
Labels: documentation

#2724 rpcsrv: handle preflight OPTIONS with CORS kludge, fix #2721
  pkg/services/rpcsrv/server.go
Labels: rpc

#2726 docs: update release instruction
  docs/release-instruction.md
Labels: documentation

#2731 Add ability to save any tx in the CLI
  cli/smartcontract/smart_contract.go
  cli/txctx/tx.go
  cli/wallet/candidate_test.go
  cli/wallet/nep11.go
  cli/wallet/nep17.go
  cli/wallet/validator.go
  cli/wallet/wallet.go
  cli/wallet/wallet_test.go
Labels: cli

#2730 config: add NeoFS network configurations, fix #2714
  config/protocol.mainnet.neofs.yml
  config/protocol.testnet.neofs.yml
Labels: config

#2739 smartcontract: fix underlying PublicKey parameter value
  pkg/smartcontract/parameter.go
  pkg/smartcontract/parameter_test.go
Labels: bug

#2738 network: don't wait indefinitely for packet to be sent
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: network

#2741 Rework broadcast logic
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: network

#2742 Some network code cleanup
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/server_test.go
  pkg/network/tcp_peer.go
  pkg/network/tcp_peer_test.go
Labels: network

#2743 Logarithmic gossip fan out
  config/protocol.mainnet.yml
  config/protocol.testnet.yml
  docs/node-configuration.md
  pkg/config/application_config.go
  pkg/network/discovery.go
  pkg/network/discovery_test.go
  pkg/network/helper_test.go
  pkg/network/prometheus.go
  pkg/network/server.go
  pkg/network/server_config.go
Labels: network

#2746 network: only call tx callback if we're waiting for transactions
  pkg/network/server.go
Labels: network

#2750 network: add prometheus histogram with cmd processing time
  pkg/network/prometheus.go
  pkg/network/server.go
Labels: network

#2748 network/consensus: use new dbft StopTxFlow callback
  cli/server/server.go
  go.mod
  go.sum
  internal/testcli/executor.go
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/network/server.go
  pkg/network/server_test.go
Labels: network, consensus

#2754 config: reschedule Aspidochelone fork block for NeoFS mainnet
  config/protocol.mainnet.neofs.yml
Labels: config

#2755 Improve P2P transaction handling
  pkg/network/server.go
  pkg/network/server_test.go
Labels: network, performance

#2757 network: batch getdata replies
  pkg/network/helper_test.go
  pkg/network/peer.go
  pkg/network/server.go
  pkg/network/tcp_peer.go
Labels: network, performance

#2758 network: check inv against currently processed transactions
  pkg/network/server.go
Labels: network, performance

#2760 network: it is 42
  pkg/network/server.go
Labels: network, performance

#2761 Fancy getaddr
  pkg/network/discovery.go
  pkg/network/server.go
Labels: network

#2762 emit: optimize Bool GAS cost
  cli/nep_test/nep17_test.go
  cli/testdata/wallet1_solo.json
  cli/vm/cli_test.go
  pkg/compiler/codegen.go
  pkg/services/rpcsrv/server_test.go
  pkg/smartcontract/param_type_test.go
  pkg/vm/emit/emit.go
  pkg/vm/emit/emit_test.go
Labels: compiler, vm

#2765 cli: fix race in TestQueryTx
  cli/query/query_test.go
Labels: bug, test
