Repository nspcc-dev/neo-go, pull requests merged in 2022-07, with the labels that each got.

#2579 Add JSON enum doc
  docs/rpc.md
Labels: documentation

#2581 rpc: add decimals/name/symbol data to getNEPXXBalance
  pkg/rpc/client/rpc_test.go
  pkg/rpc/response/result/tokens.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_test.go
Labels: rpc

#2555 rpc: implement iterator sessions
  cli/wallet/nep11.go
  config/protocol.privnet.yml
  config/protocol.unit_testnet.yml
  docs/node-configuration.md
  docs/rpc.md
  go.mod
  internal/basicchain/basic.go
  internal/basicchain/testdata/storage/storage_contract.go
  internal/basicchain/testdata/storage/storage_contract.yml
  pkg/config/config.go
  pkg/core/interop/iterator/interop.go
  pkg/core/statesync/neotest_test.go
  pkg/rpc/client/doc.go
  pkg/rpc/client/helper.go
  pkg/rpc/client/native.go
  pkg/rpc/client/nep11.go
  pkg/rpc/client/rpc.go
  pkg/rpc/request/param.go
  pkg/rpc/request/param_test.go
  pkg/rpc/response/result/invoke.go
  pkg/rpc/rpc_config.go
  pkg/rpc/server/client_test.go
  pkg/rpc/server/server.go
  pkg/rpc/server/server_helper_test.go
  pkg/rpc/server/server_test.go
  pkg/rpc/server/testdata/testblocks.acc
Labels: rpc

#2610 Move code generation from rpcclient to smartcontract
  cli/wallet/validator.go
  internal/testchain/transaction.go
  pkg/consensus/consensus_test.go
  pkg/core/bench_test.go
  pkg/core/interop/runtime/ext_test.go
  pkg/core/native/native_test/oracle_test.go
  pkg/core/native/oracle.go
  pkg/neotest/basic.go
  pkg/rpcclient/helper.go
  pkg/rpcclient/nep11.go
  pkg/rpcclient/nep17.go
  pkg/smartcontract/builder.go
  pkg/smartcontract/doc.go
  pkg/smartcontract/doc_test.go
  pkg/smartcontract/entry.go
  scripts/gendump/main.go
Labels: rpc

#2615 native: trigger committee update on candidate registration
  pkg/core/native/native_neo.go
Labels: bug
