Repository nspcc-dev/neo-go, pull requests merged in 2023-09, with the labels that each got.

#3121 neotest: improve doc based on #3120
  pkg/neotest/doc.go
Labels: documentation, test

#3122 state: always deserialize LastGasPerVote
  pkg/core/state/native_state.go
  pkg/core/state/native_state_test.go
Labels: bug

#3124 Set Basilisk hardforks for all networks
  config/protocol.mainnet.neofs.yml
  config/protocol.mainnet.yml
  config/protocol.testnet.yml
Labels: config

#3129 oracle/neofs: upgrade to SDK RC11
  go.mod
  go.sum
  pkg/services/oracle/neofs/neofs.go
Labels: bug, dependencies

#3136 config: fix mainnet neofs config
  config/protocol.mainnet.neofs.yml
Labels: config

#3140 smartcontract: fix wildcard trusts deserialization
  pkg/core/state/contract_test.go
  pkg/smartcontract/manifest/manifest.go
Labels: bug

#3141 Limit calculatenetworkfee GAS
  docs/node-configuration.md
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
Labels: bug, rpc
