Repository nspcc-dev/neo-go, pull requests merged in 2023-02, with the labels that each got.

#2917 docs: fix the link to RPC Client doc
  docs/rpc.md
Labels: documentation

#2918 rpcbinding: fix wrappers for Any type, fix #2898
  cli/smartcontract/testdata/types/config.yml
  cli/smartcontract/testdata/types/rpcbindings.out
  cli/smartcontract/testdata/types/types.go
  pkg/smartcontract/rpcbinding/binding.go
Labels: compiler, rpc

#2920 core: adjust the documentation of SeekRange's Prefix field
  pkg/core/storage/store.go
Labels: documentation

#2916 Not so local RPC client
  pkg/rpcclient/local.go
  pkg/rpcclient/local_test.go
  pkg/rpcclient/wsclient.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/local_test.go
  pkg/services/rpcsrv/params/params.go
  pkg/services/rpcsrv/params/params_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/subscription.go
Labels: rpc

#2924 network: drain send queues on peer disconnection
  pkg/network/tcp_peer.go
Labels: bug, network
