Repository nspcc-dev/neo-go, pull requests merged in 2023-08, with the labels that each got.

#3085 rpcsrv: carefully store Oracle service instance
  cli/server/server.go
  cli/vm/cli_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_helper_test.go
Labels: bug, oracle

#3066 vm, compiler: support `ASSERTMSG` and `ABORTMSG`
  .github/workflows/run_tests.yml
  examples/engine/go.mod
  examples/engine/go.sum
  examples/events/go.mod
  examples/events/go.sum
  examples/iterator/go.mod
  examples/iterator/go.sum
  examples/nft-d/go.mod
  examples/nft-d/go.sum
  examples/nft-nd-nns/go.mod
  examples/nft-nd-nns/go.sum
  examples/nft-nd/go.mod
  examples/nft-nd/go.sum
  examples/oracle/go.mod
  examples/oracle/go.sum
  examples/runtime/go.mod
  examples/runtime/go.sum
  examples/storage/go.mod
  examples/storage/go.sum
  examples/timer/go.mod
  examples/timer/go.sum
  examples/token/go.mod
  examples/token/go.sum
  go.mod
  go.sum
  internal/contracts/oracle_contract/go.mod
  internal/contracts/oracle_contract/go.sum
  pkg/compiler/interop_test.go
  pkg/core/fee/opcode.go
  pkg/interop/neogointernal/opcode.go
  pkg/interop/util/util.go
  pkg/vm/json_test.go
  pkg/vm/opcode/opcode.go
  pkg/vm/opcode/opcode_string.go
  pkg/vm/vm.go
  pkg/vm/vm_test.go
Labels: vm

#3080 vm: increase BigInt parsing precision
  docs/node-configuration.md
  pkg/config/hardfork.go
  pkg/core/native/std.go
  pkg/vm/stackitem/json.go
  pkg/vm/stackitem/json_test.go
Labels: vm

#3074 compiler: fix sequence point boundaries
  pkg/compiler/debug.go
Labels: bug, compiler

#3099 rpcsrv, rpcclient: support `findstorage`, `findstoragehistoric` and `getstoragehistoric` calls
  config/protocol.unit_testnet.yml
  docs/node-configuration.md
  docs/rpc.md
  pkg/config/config.go
  pkg/config/rpc_config.go
  pkg/core/blockchain.go
  pkg/core/stateroot/module.go
  pkg/neorpc/result/findstorage.go
  pkg/rpcclient/rpc.go
  pkg/rpcclient/rpc_test.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
Labels: rpc, enhancement

#3107 rpcsrv: enforce default config values on server creation if malformed value specified
  pkg/config/config.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
Labels: rpc

#3111 rpcsrv: drop unused method from the Ledger interface
  pkg/services/rpcsrv/server.go
Labels: rpc
