Repository nspcc-dev/neo-go, pull requests merged in 2023-04, with the labels that each got.

#2959 rpc: do not omit value of Null parameter on marshalling
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/params/txBuilder.go
Labels: bug, rpc

#2889 cli: ask for NEP2 account label if not provided
  cli/wallet/wallet.go
  cli/wallet/wallet_test.go
Labels: cli

#2819 core: some state reset oprimizations
  pkg/core/blockchain.go
Labels: enhancement

#2980 Close notification channels on wsclient disconnect
  pkg/rpcclient/wsclient.go
  pkg/rpcclient/wsclient_test.go
Labels: bug, rpc

#2892 Optimize vote reward data
  ROADMAP.md
  pkg/core/blockchain.go
  pkg/core/blockchain_neotest_test.go
  pkg/core/native/native_neo.go
  pkg/core/native/native_test/neo_test.go
  pkg/core/state/native_state.go
  pkg/interop/native/neo/neo.go
  pkg/services/rpcsrv/client_test.go
  pkg/services/rpcsrv/server_test.go
Labels: performance

#2981 docs: adjust Notary request submission documentation
  docs/notary.md
Labels: bug, documentation
