Repository nspcc-dev/neo-go, pull requests merged in 2023-12, with the labels that each got.

#3243 native: test immediate contract availability
  pkg/core/native/management_neotest_test.go
Labels: test

#3246 neotest: adjust Signer documentation
  pkg/neotest/signer.go
Labels: documentation

#3233 neotest: Add contract signer support
  pkg/core/native/native_test/ledger_test.go
  pkg/neotest/basic.go
  pkg/neotest/signer.go
Labels: test

#3250 go.mod: upgrade BoltDB to 1.3.8
  go.mod
  go.sum
Labels: dependencies

#3261 rpcclient: fix failing initialisation-based tests
  pkg/rpcclient/wsclient_test.go
Labels: test

#3277 docs: minimally outline local labels
  docs/labels.md
Labels: documentation
