Repository nspcc-dev/neo-go, pull requests merged in 2023-05, with the labels that each got.

#2995 NeoFS SDK update
  go.mod
  go.sum
  pkg/consensus/consensus.go
  pkg/network/bqueue/queue.go
  pkg/network/server.go
  pkg/rpcclient/wsclient.go
  pkg/services/metrics/metrics.go
  pkg/services/notary/notary.go
  pkg/services/oracle/neofs/neofs.go
  pkg/services/oracle/neofs/neofs_test.go
  pkg/services/oracle/request.go
  pkg/services/oracle/response.go
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/subscription_test.go
  pkg/services/stateroot/validators.go
Labels: refactoring

#3000 rpcclient: provide some exported error for disconnected WSClient
  pkg/rpcclient/wsclient.go
  pkg/rpcclient/wsclient_test.go
Labels: rpc, enhancement

#3004 *: use require.ErrorIs instead of require.True(t, error.Is())
  pkg/consensus/consensus_test.go
  pkg/core/block/block_test.go
  pkg/core/blockchain_core_test.go
  pkg/core/blockchain_neotest_test.go
  pkg/core/chaindump/dump_test.go
  pkg/core/dao/dao_test.go
  pkg/core/interop/interopnames/convert_test.go
  pkg/core/interop/storage/storage_test.go
  pkg/core/mempool/mem_pool_test.go
  pkg/core/mpt/billet_test.go
  pkg/core/native_designate_test.go
  pkg/core/transaction/oracle_test.go
  pkg/core/transaction/transaction_test.go
  pkg/network/extpool/pool_test.go
  pkg/network/payload/extensible_test.go
  pkg/network/payload/merkleblock_test.go
  pkg/network/server_test.go
  pkg/rpcclient/rpc_test.go
  pkg/rpcclient/wsclient_test.go
  pkg/services/oracle/neofs/neofs_test.go
  pkg/services/oracle/network_test.go
  pkg/services/stateroot/service_test.go
  pkg/smartcontract/manifest/standard/comply_test.go
  pkg/smartcontract/nef/method_token_test.go
  pkg/smartcontract/nef/nef_test.go
  pkg/vm/stackitem/json_test.go
  pkg/vm/stackitem/serialization_test.go
Labels: test

#3018 gomod: fetch dBFT update
  go.mod
  go.sum
Labels: consensus

#3020 cli: properly load specified method for `run` VM CLI command
  cli/vm/cli.go
  cli/vm/cli_test.go
  examples/runtime/runtime.go
  pkg/vm/context.go
  pkg/vm/debug_test.go
Labels: vm, cli

#3024 mempool: add test for concurrent conflicting tx addition
  pkg/core/mempool/mem_pool_test.go
Labels: test
