Repository nspcc-dev/neo-go, pull requests merged in 2023-01, with the labels that each got.

#2860 docs: adjust outdated VM CLI doc
  docs/cli.md
Labels: documentation

#2852 cli: mark required flags of `generate-*` command
  cli/smartcontract/generate.go
  cli/smartcontract/generate_test.go
Labels: cli

#2866 Fix findstates response difference
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
Labels: bug, rpc

#2871 Fix shadowed infinite loop
  pkg/compiler/codegen.go
  pkg/compiler/for_test.go
Labels: bug, compiler

#2872 state: always marshal applog exception into JSON, fix #2869
  pkg/core/state/notification_event.go
Labels: bug, rpc

#2879 *: adjust subscription-related doc
  pkg/core/blockchain.go
  pkg/core/mempool/subscriptions.go
  pkg/network/server.go
  pkg/rpcclient/wsclient.go
Labels: documentation

#2880 rpcclient/actor: Document `RPCActor.CalculateNetworkFee` method
  pkg/rpcclient/actor/actor.go
Labels: documentation

#2884 services/rpcsrv: Strengthen `Server` error channel's type
  pkg/services/rpcsrv/server.go
Labels: rpc, refactoring

#2887 cli: refactor wallet import related commands
  cli/wallet/wallet.go
  cli/wallet/wallet_test.go
Labels: cli

#2893 rpcclient: adjust new subscriptions API doc
  pkg/rpcclient/wsclient.go
Labels: documentation
