Repository nspcc-dev/neo-go, pull requests merged in 2024-04, with the labels that each got.

#3388 workflows: update CodeQL version
  .github/workflows/tests.yml
Labels: test

#3394 rpcclient: make default Notary actor options customizable
  pkg/rpcclient/notary/actor.go
  pkg/rpcclient/notary/doc_test.go
Labels: rpc

#3409 workflows: update CodeCov action, use token for upload
  .github/workflows/tests.yml
Labels: test

#3413 go.mod: import official dbft 0.2.0
  go.mod
  go.sum
Labels: consensus

#3414 smartcontract: ensure nil ParameterContext Item's script is marshallable
  pkg/smartcontract/context/item_test.go
Labels: smartcontract, test
