Repository nspcc-dev/neo-go, pull requests merged in 2024-02, with the labels that each got.

#3327 rpcclient: fix address used in doc
  pkg/rpcclient/doc_test.go
Labels: bug, documentation, rpc

#3328 .github: use minimum required Go version from go.mod
  .github/workflows/tests.yml
Labels: go

#3330 Add ARM-based MacOS tests
  .github/workflows/build.yml
  .github/workflows/tests.yml
Labels: test

#3329 rpcsrv: support Map parameter in `invokefunction` RPC handler
  pkg/services/rpcsrv/params/param.go
  pkg/services/rpcsrv/params/param_test.go
  pkg/services/rpcsrv/params/txBuilder.go
  pkg/services/rpcsrv/params/tx_builder_test.go
Labels: bug, smartcontract, rpc

#3331 go.mod: upgrade go-ordered-json
  go.mod
  go.sum
Labels: bug, smartcontract
