Repository nspcc-dev/neo-go, pull requests merged in 2024-03, with the labels that each got.

#3339 workflows: workaround Go 1.22 coverage problem
  .github/workflows/tests.yml
Labels: go, test

#3347 workflows: give tests more time
  .github/workflows/tests.yml
Labels: test

#3350 rpcsrv: close idle client connections in doRPCCallOverHTTP
  pkg/services/rpcsrv/server_test.go
Labels: rpc

#3355 rpcsrv: properly close RPC clients in tests
  pkg/services/rpcsrv/client_test.go
Labels: rpc

#3360 rpcsrv: fix RPC error codes proposal compatibility
  pkg/services/rpcsrv/server.go
  pkg/services/rpcsrv/server_test.go
Labels: bug, rpc

#3357 core: prohibit reentry to Notary withdraw
  pkg/core/native/native_test/notary_test.go
  pkg/core/native/notary.go
Labels: bug

#3356 rpcclient: return FaultException in checkResOk if any
  pkg/rpcclient/unwrap/unwrap.go
  pkg/rpcclient/unwrap/unwrap_test.go
Labels: rpc

#3374 *: improve error text for System.Crypto.CheckMultisig handling
  pkg/core/interop/crypto/ecdsa.go
  pkg/vm/stack.go
Labels: enhancement

#3371 consensus: integrate dBFT pre-0.2.0
  go.mod
  go.sum
  pkg/consensus/block.go
  pkg/consensus/block_test.go
  pkg/consensus/cache_test.go
  pkg/consensus/change_view.go
  pkg/consensus/change_view_test.go
  pkg/consensus/commit.go
  pkg/consensus/commit_test.go
  pkg/consensus/consensus.go
  pkg/consensus/consensus_test.go
  pkg/consensus/crypto.go
  pkg/consensus/payload.go
  pkg/consensus/payload_test.go
  pkg/consensus/prepare_request.go
  pkg/consensus/prepare_request_test.go
  pkg/consensus/prepare_response.go
  pkg/consensus/prepare_response_test.go
  pkg/consensus/recovery_message.go
  pkg/consensus/recovery_message_test.go
  pkg/consensus/recovery_request.go
  pkg/consensus/recovery_request_test.go
  pkg/core/block/header.go
Labels: dependencies

#3375 docs: adjust StandByCommittee node config documentation
  docs/node-configuration.md
Labels: documentation
