Repository nspcc-dev/neo-go, pull requests merged in 2025-05, with the labels that each got.

#3887 core: fix Echidna-dependent tests
  pkg/core/blockchain_core_test.go
  pkg/core/blockchain_neotest_test.go
  pkg/core/native/native_test/designate_test.go
  pkg/core/native/native_test/policy_test.go
Labels: bug, test

#3892 native: move CommitteeChanged event emission under Cockatrice
  pkg/core/native/native_neo.go
Labels: bug

#3900 statesync: enforce DB persist after every statesync stage
  pkg/core/statesync/module.go
Labels: enhancement

#3897 *: use the built-in max/min to simplify the code and fix a bug
  pkg/core/statesync/mptpool.go
  pkg/services/stateroot/signature.go
Labels: bug

#3905 statesync: fix slice allocation size
  pkg/core/statesync/mptpool.go
Labels: bug

#3912 network: improve seed discovery
  pkg/network/discovery.go
  pkg/network/discovery_test.go
  pkg/network/peer.go
Labels: bug, network

#3899 network: get benefit from ArchivalNode capability
  docs/node-configuration.md
  pkg/config/application_config.go
  pkg/network/bqueue/queue.go
  pkg/network/capability/capability.go
  pkg/network/server.go
  pkg/network/server_config.go
  pkg/network/server_test.go
Labels: network, enhancement

#3916 compiler: Support slice expressions for string
  pkg/compiler/codegen.go
  pkg/compiler/slice_test.go
Labels: compiler, enhancement
